<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow" style="">
                            <div class="col-xs-6 col-md-6" style="width:100%">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" onclick="openPage('创建项目', '', doAdd)" data-title="创建">
                                        <i class="fa fa-plus"></i> 创建项目
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="toEdit()" data-title="编辑">
                                        <i class="fa fa-edit"></i> 项目编辑
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="to_detail()" data-title="应用详情">
                                        <i class="fa fa-edit"></i> 应用详情
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="toEdit()" data-title="项目成员">
                                        <i class="fa fa-list"></i> 项目成员
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="toContainerListing()" data-title="容器列表">
                                        <i class="fa fa-list"></i> 容器列表
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="toEdit()" data-title="一键部署">
                                        <i class="fa fa-edit"></i> 一键部署
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="to_servicewarehouse()" data-title="发布到仓库">
                                        <i class="fa fa-edit"></i> 发布到仓库
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-xs-6 col-md-6 text-right">
                                <form id="searchFrom" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" class="form-control" id="filter_name" name="filter_name" placeholder="系统编码/名称">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>-->
                        </div>

                        <table id="projectDataTable">
                        </table>
                    </div>
                    <iframe id="pageIframe" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="mydialog">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="projectForm" class="form-horizontal form-bordered" role="form">
                    <div class="form-group">
                        <label for="inputProjectName" class="col-sm-2 control-label no-padding-right">项目名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="projectName" id="projectName" placeholder="请输入项目名称" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">git地址:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="gitAddress" id="gitAddress" placeholder="请输入git地址" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectProjectType" class="col-sm-2 control-label no-padding-right">类型:</label>
                        <div class="col-sm-10">
                            <select id="projectType" name="projectType" style="width: 60%">
                                <option value="0">数据</option>
                                <option value="1">服务</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputProjectRemark" class="col-sm-2 control-label no-padding-right">备注:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="remark" id="remark" placeholder="请输入备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    $(function(){
        $('#projectDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/pageList',
            method:'get',
            rownumbers:false,
            //autoRowHeight:true,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field":'id',checkbox:true},
                {"field": "projectCode","title":"编号","width":80,align:"center"},
                {"field": "projectName","title":"应用名称","width":100,align:"center"},
                {"field": "proVersions","title":"版本","width":130,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        var label;

                        label = getVerData(rowData.id,rowIndex);
                        return label;
                    }},
                {"field": "gitAddress","title":"版本库","width":200,align:"center"},
                {"field": "healthCondition","title":"健康状况","width":80,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return '正常';
                    }},
                {"field": "resourceUse","title":"资源使用","width":120,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return 'cpu:3.0<br/>内存：4GB<br/>硬盘：500GB';
                    }},
                {"field": "remark","title":"备注","width":200,align:"center"}
            ]],
            onLoadSuccess:function(json) {

            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    });

    /**
     * 容器列表
     */
    function toContainerListing(){
        window.location.href = "{{projcfg.appurl}}/containermanage";
    }

    function getVerData(projectid,rowIndex){
        var select = '<select id="vers"+rowIndex class="easyui-combobox" name="vers"+rowIndex style="width:130px;">';
        if(projectid){
            $.ajax({
                url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/verList',
                type: 'get',
                async:false,
                data: {'projectId':projectid},
                success: function (data) {
                    console.log(data);
                    if(data.success) {
                        for(var i=0;i<data.data.length;i++){
                            select += "<option value='"+data.data[i].vNo+"'>"+data.data[i].vNo+"("+data.data[i].vStatus+")</option>";
                        }
                    }
                    else {
                        msgError(data.msg+',错误代码:'+data.code);
                    }
                }
            });
        }
      select +=  '</select>';
        return select;
    }

    function doSearch() {
        $('#projectDataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }
    function doAdd(value) {
        var validate = $('#projectForm').form('validate');
        if(!validate) {
            return false;
        }
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/add',
            type: 'post',
            data: $('#projectForm').serializeJson(),
            success: function (data) {
                if(data.success) {
                    msgSuccess(data.msg);
                    closeDialog();
                    doSearch();
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    // 打开页面
    function openPage(title, value, callback) {
        $('#myModal').show();
        $('#myModal').mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog();
                    }
                }
            ]
        });
    }

    // 清空新增表单数据
    function clear() {
        $('#projectForm').form('clear');
    }

    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }

    function to_detail(){
        window.location.href = "{{projcfg.appurl}}/servicedetail";
    }
    function to_servicewarehouse(){
        var rowdata = $('#projectDataTable').datagrid("getSelections");
        if(rowdata){
            for (var i=0; i<rowdata.length;i++){
                $.ajax({
                    url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/add',
                    type: 'post',
                    async:false,
                    data: $('#projectForm').serializeJson(),
                    success: function (data) {
                        if(data.success) {
                            msgSuccess(data.msg);
                            closeDialog();
                            doSearch();
                        }
                        else {
                            msgError(data.msg+',错误代码:'+data.code);
                        }
                    }
                });
            }
        }else{
            $.messager.alert("请选择一条数据进行发布到仓库！")
        }
        window.location.href = "{{projcfg.appurl}}/servicewarehouse";
    }

</script>