<style>
    #mask{
        position: fixed;
        left:0;
        top:0;
        height:100%;
        width:100%;
        z-index:99999;
        display:none;
    }
    .cover{
        background:#000;
        opacity:0.6;
        width:100%;
        height:100%;
    }

    .indicatorContainer{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
    }

    #mask .msg{
        position: absolute;
        width:100px;
        top:50%;
        margin-top:60px;
        left:50%;
        margin-left:-45px;
        height:20px;
        line-height:20px;
        color: white;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow" style="">
                            <div class="col-xs-6 col-md-6" style="width:100%">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" onclick="openPage('myModal','projectForm','创建项目', '', doAdd)" data-title="创建">
                                        <i class="fa fa-plus"></i> 创建项目
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="to_edit()" data-title="编辑">
                                        <i class="fa fa-edit"></i> 项目编辑
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="to_detail()" data-title="应用详情">
                                        <i class="fa fa-edit"></i> 应用详情
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="showProjectMembers()" data-title="项目成员">
                                        <i class="fa fa-user"></i> 项目成员
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="toDeploy('deployDialog','一键部署','',doDeploy)"  data-title="一键部署">
                                        <i class="fa fa-edit"></i> 一键部署
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="to_servicewarehouse()" data-title="发布到服务仓库">
                                        <i class="fa fa-edit"></i> 发布到服务仓库
                                    </button>
                                    <!--<button type="button" class="btn btn-default" onclick="toDeployed()" data-title="项目运维">-->
                                        <!--<i class="fa fa-list"></i> 项目运维-->
                                    <!--</button>-->
                                </div>
                            </div>
                            <!--<div class="col-xs-6 col-md-6 text-right">
                                <form id="searchFrom" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" class="form-control" id="filter_name" name="filter_name" placeholder="系统编码/名称">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>-->
                        </div>

                        <table id="projectDataTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="mydialog">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="projectForm" class="form-horizontal form-bordered" role="form">
                    <div class="form-group">
                        <label for="inputProjectName" class="col-sm-2 control-label no-padding-right">项目名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="projectName" id="projectName" placeholder="请输入项目名称" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">git地址:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="gitAddress" id="gitAddress" placeholder="请输入git地址" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectProjectType" class="col-sm-2 control-label no-padding-right">类型:</label>
                        <div class="col-sm-10">
                            <select id="projectType" name="projectType" style="width: 60%">
                                <option value="0">数据</option>
                                <option value="1">能力</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">首页访问地址:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="homeUrl" id="homeUrl" placeholder="请输入首页访问地址,如：home" style="width:60%">
                        </div>
                    </div>
                    <div id="resuse" class="form-group">
                        <label for="inputProjectRemark" class="col-sm-2 control-label no-padding-right">使用资源:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="resourceUse" id="resourceUse" readonly="readonly"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputProjectRemark" class="col-sm-2 control-label no-padding-right">备注:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="remark" id="remark" placeholder="请输入备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="deployDialog" class="mydialog">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="deployForm" class="form-horizontal form-bordered" role="form">
                    <input type="hidden" id="deployProjectId" name="deployProjectId" value=""/>
                    <input type="hidden" id="deployProjectCode" name="deployProjectCode" value=""/>
                    <div class="form-group">
                        <label for="deployProjectName" class="col-sm-2 control-label no-padding-right">项目名称:</label>
                        <div class="col-sm-10">
                            <input id="deployProjectName" name="deployProjectName" type="text" readonly class="easyui-validatebox form-control" data-options="required:true" style="width:80%;height:31px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deployProjectVersion" class="col-sm-2 control-label no-padding-right">部署版本:</label>
                        <div class="col-sm-10">
                            <select id="deployProjectVersion" name="deployProjectVersion"　class="easyui-validatebox form-control" data-options="required:true" style="width:80%;height:31px;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deployClusterId" class="col-sm-2 control-label no-padding-right">部署集群:</label>
                        <div class="col-sm-10">
                            <select id="deployClusterId" name="deployClusterId" class="easyui-validatebox form-control" data-options="required:true" style="width:80%;height:31px;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label no-padding-right">备注:</label>
                        <div class="col-sm-10">
                            <textarea id="remark" name="remark" class="easyui-validatebox form-control" style="width:80%;height:80px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="myModal_project_members" class="mydialog">
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div>-->
    <div id="cc3" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
            <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                <table id="projectMemberDataTable">
                </table>
            </div>
        </div>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div id="mask">
    <div class="cover"></div>
    <div class="indicatorContainer">
    </div>
    <div class="msg">
    </div>
</div>
<script src="{{projcfg.appurl}}/static/js/radialIndicator.js"></script>
<script  type="text/javascript">
    $(function(){
        $('#projectDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/pageList',
            method:'get',
            rownumbers:false,
            //autoRowHeight:true,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field":'id',checkbox:true},
                {"field":'gitlabProjectId',hidden:true},
                {"field": "gitAddress",hidden:true},
                {"field": "resourceUse",hidden:true},
                {"field": "projectCode","title":"编号","width":80,align:"center"},
                {"field": "projectName","title":"项目名称","width":100,align:"center"},
                {"field": "proVersions","title":"开发版本","width":120,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return getVerData(rowData.id,rowData.gitlabProjectId,rowIndex);
                    }},
                {"field": "deployVersion","title":"上线版本","width":80,align:"center"},
                {"field": "type","title":"项目类型","width":100,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        if(value == 1){
                            return "自主研发";
                        }else{
                            return "第三方";
                        }
                    }},
                {"field": "step","title":"项目阶段","width":180,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return setProjectStepValue(value,rowData.gitAddress);
                    }}
//                {"field": "remark","title":"备注","width":200,align:"center"}
            ]],
//            onDblClickRow:function(rowIndex, rowData){
//                toQueryProject(rowData);
//            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    });
    function toQueryProject(rowData) {
        // 获得选择行
        $("#projectForm").form('load',rowData);
        $("#resuse").show();
        openQueryPage('myModal','projectForm',"查看项目信息");

    }
    // 打开页面
    function openQueryPage(id,fromid,title) {

        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 700,
            height: 525,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog(id,fromid);
                    }
                }
            ]
        });
    }

    function to_gitlab(gitAddress){
        if(gitAddress && gitAddress != 'null'){
            window.open(gitAddress);
        }
    }

   function setProjectStepValue(value,gitAddress){
       var teststyle = "background-color:#CCCCCC",deploystyle = "background-color:#CCCCCC",opstyle="background-color:#CCCCCC";
       if(value == 2){
           teststyle = "";
       }else if(value == 3 || value == 4){
           teststyle = "";
           deploystyle = "background-color:#009933";
           opstyle = "background-color:#009966";
       }
       var devepsp = "<span class=\"label label-success\" style=\"margin-right:0.5rem;width:3.5rem;cursor: pointer;\"  onclick=\"to_gitlab('"+gitAddress+"')\">开发</span>";
       var testsp = "<span class=\"label label-success\" style=\"margin-right:0.5rem;margin-left: 0.5rem;"+teststyle+"\" ><a target=\"_blank\" href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;cursor: pointer;\">测试</a></span>";
       var depsp = "<span class=\"label label-success\" style=\"margin-right:0.5rem;margin-left: 0.5rem;"+deploystyle+"\" ><a target=\"_blank\" href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;cursor: pointer;\">部署</a></span>";
       var opsp = "<span class=\"label label-success\" style=\"margin-left: 0.5rem;"+opstyle+"\" ><a target=\"_blank\" href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;cursor: pointer;\">运维</a></span>";
      return devepsp + "<img src=\"{{projcfg.appurl}}/static/images/jiantou.png\"  height=\"5%\" width=\"5%\"/>"+testsp+"<img src=\"{{projcfg.appurl}}/static/images/jiantou.png\"  height=\"5%\" width=\"5%\"/>"+depsp+"<img src=\"{{projcfg.appurl}}/static/images/jiantou.png\"  height=\"5%\" width=\"5%\"/>"+opsp;
   }

    function getVerData(projectId,gitProjectId,rowIndex){
        var flag = "vers"+rowIndex;
        var select = "<select id=\""+flag+"\" class=\"easyui-combobox\" name=\""+flag+"\" style=\"width:130px;\">";
        if(projectId){
            $.ajax({
                url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/verList',
                type: 'get',
                async:false,
                data: {'projectId':projectId,'gitProjectId':gitProjectId},
                success: function (data) {
                    console.log(data);
                    if(data.success) {
                        var verdata = verAarry(data.data);
                        console.log("==",verdata);
                        for(var i=0;i<verdata.length;i++){
                            select += "<option value='"+verdata[i]+"'>"+verdata[i]+"</option>";
                        }
                    }
                    else {
                        msgError(data.msg+',错误代码:'+data.code);
                    }
                }
            });
        }
      select +=  '</select>';
        return select;
    }

    function verAarry(data){
        var arr = [];
        for(var i=0;i<data.length;i++){
            arr.push(data[i].versionNo);
        }
        //进行倒序排序
        arr.sort(function(o1,o2){
            var a1 = o1.replace('v','').split('.');
            var a2 = o2.replace('v','').split('.');
            var length = Math.max(a1.length,a2.length);
            for(var i = 0; i < length; i++){
                var n1 = parseInt(a1[i] || 0);
                var n2 = parseInt(a2[i] || 0);
                if(n1 - n2 != 0){
                    return n2 - n1;
                }
            }
        });
        return arr;
    }

    function doSearch() {
        $('#projectDataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }
    var num=1;
    function doAdd(value) {
        if(num > 2){
            return false;
        }
        var validate = $('#projectForm').form('validate');
        if(!validate) {
            return false;
        }
        $.messager.progress({
            title : '提示',
            text : '正在提交数据，请稍后....'
        });
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/project',
            type: 'post',
            data: $('#projectForm').serializeJson(),
            success: function (data) {
                $.messager.progress('close');
                if(data.success) {
                    msgSuccess(data.msg);
                    closeDialog('myModal','projectForm');
                    doSearch();
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
                num =1;
            }
        });
    }

    function toDeploy(){
        var rowData = $('#projectDataTable').datagrid("getChecked");
        if(rowData.length != 1){
            msgError("请选择要部署的应用！");
            return false;
        }
        var projectId = rowData[0].id;
        var projectName = rowData[0].projectName;
        var projectCode = rowData[0].projectCode;
        $("#deployProjectId").val(projectId);
        $("#deployProjectCode").val(projectCode);
        $("#deployProjectName").val(projectName);
        $('#deployProjectVersion').combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/version?projectId=' + projectId,
            valueField:'versionNo',
            textField:'versionNo',
            editable:false,
            required:true
        });
        $('#deployClusterId').combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/project/operation/colonymanage/combobox',
            valueField:'id',
            textField:'name',
            editable:false,
            required:true
        });
        openPage('deployDialog','deployForm','应用部署', '', doDeploy);
    }

    function doDeploy(value) {
        var validate = $('#deployForm').form('validate');
        if(!validate) {
            return false;
        }
        var projectId = $("#deployProjectId").val();
        var projectCode = $("#deployProjectCode").val();
        var projectName = $("#deployProjectName").val();
        var clusterName = $("#deployClusterId").combobox('getText');
        msgConfirm('确定要部署当前【 ' + projectName + '】部署到集群【' + clusterName + '】么？',function(result) {
            if(result){
                $("#mask").css("display", "block");
                $('.indicatorContainer').radialIndicator({
                    barColor: {
                        0: '#FF0000',
                        33: '#FFFF00',
                        66: '#0066FF',
                        100: '#33CC33'
                    },
                    percentage: true
                });
                var beginIndex = true;
                var commitIndex = false;
                var runnIndex = false;
                var configIndex = false;
                var n = 0;
                var interval = setInterval(function(){

                    console.log(n);
                    console.log(beginIndex);
                    console.log(commitIndex);
                    console.log(runnIndex);
                    console.log(configIndex);
                    console.log("-----------------");

                    if(n == 0){
                        $.ajax({
                            url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
                            type: 'post',
                            data: $('#deployForm').serializeJson(),
                            success: function (data) {
                                if(data.success) {
                                    //msgSuccess(data.msg);
                                    //doSearch();
                                    //$('#deployDialog').dialog('close');
                                    commitIndex = true;
                                }else{
                                    closeRadia();
                                    msgError(data.msg + ',错误代码:' + data.code);
                                }
                            }
                        });
                    }else if(commitIndex && n == 40){
                        //启动定时任务检查状态
                        var checkNum = 0;//检查10次
                        var checkInterval = setInterval(function(){
                            if(checkNum == 60){
                                clearInterval(checkInterval);
                                if(!runnIndex){
                                    doSearch();
                                    $('#deployDialog').dialog('close');
                                    closeRadia();
                                    msgError("应用启动失败，请重试");
                                }
                            }else{
                                $.getJSON("{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/status",{"projectId":projectId,"projectCode":projectCode},function(data){
                                    console.log(data);
                                    if(data.success){
                                        runnIndex = true;
                                        clearInterval(checkInterval);
                                    }
                                });
                            }
                            checkNum ++;
                        },500);
                    }/*else if(runnIndex && n == 80){
                        setTimeout(function(){
                            configIndex = true;
                        },3000)
                    }*/

                    if(n <= 40){
                        setValue(n);
                        setMsg("正在拉取镜像");
                        n++;
                    }else if(commitIndex && n <= 80){
                        setValue(n);
                        setMsg("正在启动容器");
                        n++;
                    }else if(runnIndex && n < 100){
                        setValue(n);
                        setMsg("正在配置应用");
                        n++;
                    /*}else if(configIndex){*/
                    }else{
                        clearInterval(interval);
                        setValue(n);
                        setTimeout(function(){
                            closeRadia();
                            msgSuccess("应用启动成功");
                            //doSearch();
                            //$('#deployDialog').dialog('close');
                            setTimeout(function(){
                                window.location.href = "{{projcfg.appurl}}/deployed";
                            },1000);
                        },1500);
                    }
                },100);
            }
        });
    }

    function setValue(val){
        var radialObj = $('.indicatorContainer').data('radialIndicator');
        radialObj.animate(val);
    }
    function setMsg(msg){
        $("#mask .msg").html(msg);
    }

    function closeRadia(){
        $("#mask").css("display", "none");
        $('.indicatorContainer').html("");
    }

    function toDeployed(){
        window.location.href = "{{projcfg.appurl}}/deployed";
    }
    function showProjectMembers(){
        var rowdata = $('#projectDataTable').datagrid("getSelections");
        if(rowdata.length !=1){
            msgError("请选择一条项目数据！");
            return false;
        }
        var projectid = rowdata[0].gitlabProjectId;
        var pn = rowdata[0].projectName;
        if(!projectid){
            msgError("该项目无对应的gitlabId！");
            return false;
        }
        $('#projectMemberDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/proUserList',
            method:'get',
            queryParams:{'projectId':projectid},
            rownumbers:false,
            //autoRowHeight:true,
            striped:true,
            fitColumns:true,
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field": "aaa","title":"所属项目","width":100,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                    return pn;
                }},
                {"field": "userName","title":"成员姓名","width":130,align:"center"},
                {"field": "userRole","title":"成员角色","width":130,align:"center"}
            ]],
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            loadMsg:'正在加载...'
        });

        $('#myModal_project_members').show();
        $('#myModal_project_members').mydialog({
            title:'项目成员列表',
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $('#myModal_project_members').dialog('close');
                        clear();
                    }
                }
            ]
        });
    }

    // 打开页面
    function openPage(id,fromid,title, value, callback) {
        $("#resuse").hide();

        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        num += 1;
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        num = 1;
                        closeDialog(id,fromid);
                    }
                }
            ]
        });
    }

    // 清空新增表单数据
    function clear(formId) {
        $('#'+formId).form('clear');
    }

    // 关闭窗口
    function closeDialog(dialogId,formId) {
        $('#'+dialogId).dialog('close');
        clear(formId);
    }
    function to_detail(){
        var rowdata = $('#projectDataTable').datagrid("getChecked");
        if(rowdata.length != 1){
            $.messager.alert("提示","请选择一条数据进行查看！","warning");
        }else{
            window.location.href = "{{projcfg.appurl}}/servicedetail?projectId="+rowdata[0].id;
        }

    }
    /**
     * 发布到仓库
     */
    function to_servicewarehouse(){
        var rowdata = $('#projectDataTable').datagrid("getSelections");
        if(rowdata.length > 0){
            for (var i=0; i<rowdata.length;i++){
                var rowindex = $('#projectDataTable').datagrid("getRowIndex",rowdata[i]);
                $.ajax({
                    url: '{{projcfg.appurl}}/api/project/ability/services/develop/sm/add',
                    type: 'post',
                    async:false,
                    data: {'projectId':rowdata[i].id,'proVersion':$("#vers"+rowindex).val(),'gitAddress':rowdata[i].gitAddress},
                    success: function (data) {
                        if(data.success) {
                            msgSuccess(data.msg);
                            window.location.href = "{{projcfg.appurl}}/servicewarehouse?projectId="+rows[0].id;
                        }
                        else {
                            msgError(data.msg+',错误代码:'+data.code);
                        }
                    }
                });
            }
        }else{
            $.messager.alert("提示","请选择一条数据进行发布到仓库！","warning");
        }

    }

    function to_edit(){
        var rows = $('#projectDataTable').datagrid('getChecked');
        if(rows.length!=1){
            msgError("提示，请选择一条数据再进行修改");
            return false;
        }else{
            window.location.href = "{{projcfg.appurl}}/projectdetail?projectId="+rows[0].id;
        }
    }

</script>