<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <table id="dataTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="containerLogModal" class="mydialog" style="padding-top:0px;">
    <div class="row">
        <div class="col-md-12">
            <div class="widget flat radius-bordered">
                <div class="widget-body" style="background-color: #fff;">
                    <div id="registration-form">
                        <div class="form-title bordered-bottom bordered-blue">
                            <pre style="width: 960px;height: 470px;" id="logPre">

                            </pre>
                        </div>
                        <div class="row" style="padding: 0px 20px;height: auto;">
                            <span id="ccdetail"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="containerLogModal" class="mydialog" style="padding-top:0px;">
    <div class="row">
        <div class="col-md-12">
            <div class="widget flat radius-bordered">
                <div class="widget-body" style="background-color: #fff;">
                    <div id="registration-form">
                        <div class="form-title bordered-bottom bordered-blue">
                            <pre style="width: 960px;height: 470px;" id="logPre">

                            </pre>
                        </div>
                        <div class="row" style="padding: 0px 20px;height: auto;">
                            <span id="ccdetail"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<style type="text/css">

    .datagrid-row {
        height: 150px;
        text-align:center;
    }
</style>
<script  type="text/javascript">
    $(function(){
        $('#dataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
            method:'get',
            rownumbers:false,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,

            columns:[[
                {"field":'id',checkbox:true},
                /* {"field":'projectId',hidden:true},
                 {"field":'mesosId',hidden:true},*/
                /*{"field": "projectId","title":"应用编号","width":300,align:"center"},*/
                {"field": "app_name","title":"应用名称","width":150,align:"center"},
                {"field": "vist_url","title":"访问地址","width":150,align:"center"},
                {"field": "update_time","title":"更新时间","width":150,align:"center",
                    "formatter":function (value, rowData,rowIndex) {

                        return new Date(value).toLocaleString();
                    }
                },
                {"field": "status","title":"应用状态","width":150,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
//                        return value == "1" ? "自主研发":"第三方应用";
                        //return value == "1" ? "<span class=\"label label-success\" style=\"height:26px;line-height:16px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;\">自主研发</span>":"<span class=\"label label-info\" style=\"height:26px;line-height:16px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;\">第三方应用</span>";
                        if(value==1)
                        return   "<span class=\"label label-success\" style=\"height:26px;line-height:16px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;\">正常</span>"
                        else
                            return   "<span class=\"label label-danger\" style=\"height:26px;line-height:16px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;\">不正常</span>"
                    }
                },
                {"field": "project_manager","title":"开发人员","width":150,align:"center"},
                {"field": "operation","title":"操作","width":200,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        var returnValue = "";
                        console.log(rowData.id);
                        returnValue+="<span onclick='detailPage("+rowData.id+")' class=\"label label-info\" style=\"height:26px;line-height:16px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;cursor: pointer;\">应用详情</span>&nbsp;"
                        return returnValue;
                    }
                }
            ]],
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            rowStyler: function(index,row){
                return 'font-size:20px';
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    });

    /*setInterval(function(){
        doSearch();
    },10000);*/

    function doSearch() {
        $('#dataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }

    function doStart(thisObj){
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        var projectId = $(thisObj).data("pid");
        $.messager.prompt('请输入启动实例数',name,function(result) {
            if(result){
                $.ajax({
                    url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/start/' + id,
                    type: 'post',
                    dataType:"json",
                    data:{
                        projectId:projectId,
                        instance:result,
                        time : Math.random()
                    },
                    success: function (data) {
                        if(data.success){
                            msgSuccess(data.msg);
                            doSearch();
                        }else{
                            msgError(data.msg);
                        }
                    },
                    error : function(err) {
                        console.log(err);
                        $("#logPre").html("日志加载失败：" + err.statusCode);
                    }
                });
            }
        });
    }

    function doSubCon(thisObj){
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        var projectId = $(thisObj).data("pid");
        var instance = $(thisObj).data("instance");
        $.messager.prompt('请输入缩容实例数',name,function(result) {
            if(result){
                $.ajax({
                    url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/start/' + id,
                    type: 'post',
                    dataType:"json",
                    data:{
                        projectId:projectId,
                        instance:(parseInt(instance)-parseInt(result))<0?0:(parseInt(instance)-parseInt(result)),
                        time : Math.random()
                    },
                    success: function (data) {
                        if(data.success){
                            msgSuccess(data.msg);
                            doSearch();
                        }else{
                            msgError(data.msg);
                        }
                    },
                    error : function(err) {
                        console.log(err);
                        $("#logPre").html("日志加载失败：" + err.statusCode);
                    }
                });
            }
        });
    }



    function doAddCon(thisObj){
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        var projectId = $(thisObj).data("pid");
        var instance = $(thisObj).data("instance");
        $.messager.prompt('请输入扩容实例数',name,function(result) {
            if(result){
                $.ajax({
                    url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/start/' + id,
                    type: 'post',
                    dataType:"json",
                    data:{
                        projectId:projectId,
                        instance:parseInt(result)+parseInt(instance),
                        time : Math.random()
                    },
                    success: function (data) {
                        if(data.success){
                            msgSuccess(data.msg);
                            doSearch();
                        }else{
                            msgError(data.msg);
                        }
                    },
                    error : function(err) {
                        console.log(err);
                        $("#logPre").html("日志加载失败：" + err.statusCode);
                    }
                });
            }
        });
    }

    function doStop(thisObj){
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        var projectId = $(thisObj).data("pid");
        msgConfirm('确定要停止【 ' + name + '】应用么？',function(result) {
            if(result){
                $.ajax({
                    url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/stop/' + id,
                    type: 'put',
                    dataType:"json",
                    data:{
                        projectId:projectId,
                    },
                    success: function (data) {
                        if(data.success){
                            doSearch();
                            msgSuccess(data.msg);
                        }else{
                            msgError(data.msg);
                        }
                    },
                    error : function(err) {
                        console.log(err);
                        $("#logPre").html("日志加载失败：" + err.statusCode);
                    }
                });
            }
        });
    }

    function doDelete(thisObj){
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        var projectId = $(thisObj).data("projectId");
        msgConfirm('确定要删除【 ' + name + '】应用么？',function(result) {
            if(result){
                $.ajax({
                    url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/delete/' + id,
                    type: 'put',
                    dataType:"json",
                    data:{
                        projectId:projectId,
                        time : Math.random()
                    },
                    success: function (data) {
                        if(data.success){
                            msgSuccess(data.msg);
                            doSearch();
                        }else{
                            msgError(data.msg);
                        }
                    },
                    error : function(err) {
                        console.log(err);
                        $("#logPre").html("日志加载失败：" + err.statusCode);
                    }
                });
            }
        });
    }
    // 打开页面
    function openPage(id,title, value, callback) {
        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        num += 1;
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        num = 1;
                        closeDialog();
                    }
                }
            ]
        });
    }

    function to_serviceDetail(id){
        window.location.href = "{{projcfg.appurl}}/monitor?projectId="+id;
    }

    // 清空新增表单数据
    function clear() {
        $('#projectForm').form('clear');
    }
    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }

    //性能情况
    function doNature(thisObj){
        var host = $(thisObj).data("host");
        var name = $(thisObj).data("name");
        var mesosId = $(thisObj).data("mesos");
        console.info(mesosId);
        //window.open("http://192.168.9.48:3000/dashboard/db/ying-yong-guan-li?orgId=1&var-app_name="+mesosId.substring(1));
//        window.open("http://192.168.9.48:3000/dashboard/db/dockerdan-ge-rong-qi-jian-kong?theme=light&orgId=1&var-host=" + host + "&var-container_name=" + name);
        window.location.href="{{projcfg.appurl}}/formalenvironmentmanage";

    }
    //日志中心
    function logsCenter(thisObj){
        /*var url = "http://192.168.31.92:5601";
        window.open(url);*/
        $("#logPre").html("Failed to launch container:<br/> Failed to run 'docker -H unix:///var/run/docker.sock pull 192.168.9.69:5000/yysc:v3.1.9': exited with status 1; stderr='Error response from daemon: manifest for 192.168.9.69:5000/yysc:v3.1.9 not found'");
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        console.log(id);
        console.log(name);
        /*logs(id);*/
        $('#containerLogModal').show();
        $('#containerLogModal').mydialog({
            title:name + "-运行日志",
            width: 1000,
            height: 560,
            top:20,
            modal: true,
            /*myButtons:[
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $('#containerLogModal').mydialog('close');
                    }
                }/!*{
                    text:'刷新',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $("#logPre").html("Failed to launch container: Failed to run 'docker -H unix:///var/run/docker.sock pull 192.168.9.69:5000/yysc:v3.1.9': exited with status 1; stderr='Error response from daemon: manifest for 192.168.9.69:5000/yysc:v3.1.9 not found'");
                        /!*logs(id);*!/
                    }
                }*!/
            ]*/
        });
    }

    function logs(id){
        $("#logPre").html("加载中...");
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/logs/' + id,
            type: 'get',
            dataType:"text",
            data:{
                time : Math.random()
            },
            success: function (data) {
                console.log("success");
                if(data){
                    $("#logPre").html(data);
                }else{
                    $("#logPre").html("选择容器还没有运行日志");
                }
            },
            error : function(err) {
                console.log(err);
                $("#logPre").html("日志加载失败：" + err.statusCode);
            }
        });
    }
    function detailPage(appid){
        window.location.href="{{projcfg.appurl}}/appdetail?appid="+appid;
    }
</script>