<script src="{{projcfg.appurl}}/static/js/echart/v3.1.3/echarts.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{projcfg.appurl}}/static/css/page-style.css">
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row" >
                    <div class="col-xs-12 col-md-12">

                        <div class="left">
                            <div class="col-xs-8 col-md-8" style="width:100%">
                                    <div class="widget-header bordered-bottom bordered-themeprimary">
                                        <i class="widget-icon fa fa-tags themeprimary"></i>
                                        <span class="widget-caption themeprimary">资源占用情况</span>
                                    </div><!--Widget Header-->
                                    <div class="widget-body">
                                        <div style="">
                                            <div class="box-list-content">
                                                <!--<div class="panel-box">-->
                                                <div class="product-box">
                                                    <ul class="resource-ul">
                                                        <li>
                                                            <div id="cpuChart" class="chart" style="height:160px;"></div>
                                                            <h1>CPU</h1>
                                                            <h2><span id="cpudesc"></span></h2>
                                                        </li>
                                                        <li>
                                                            <div id="memoryChart"  class="chart" style="height:160px;"></div>
                                                            <h1>内存</h1>
                                                            <h2><span id="memorydesc"></span></h2>
                                                        </li>
                                                        <li>
                                                            <div id="diskChart"  class="chart" style="height:160px;"></div>
                                                            <h1>硬盘</h1>
                                                            <h2><span id="diskdesc"></span></h2>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                            </div>


                                <div class="col-xs-8 col-md-8" style="width:100%;">
                                    <div class="widget">
                                        <div class="widget-header bordered-bottom bordered-themeprimary">
                                            <i class="widget-icon fa fa-tags themeprimary"></i>
                                            <span class="widget-caption themeprimary">服务监控</span>
                                        </div><!--Widget Header-->
                                        <div class="widget-body" style="overflow:hidden;">
                                            <iframe id="servicemonitorIframe" height="550px"  style="width:100%;" frameborder="0"></iframe>
                                        </div>
                                    </div>
                                </div>



                        </div>

                        <div class="right">
                            <div class="maintain-box">
                                <ul id="operateData">
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Modal -->
<div id="systemNotice_Modal" class="mydialog" style="padding-top:0px;">
    <div class="easyui-layout" data-options="fit:true,border:false" >
        <div data-options="region:'center',border:false,fit:true" style="overflow-x:scroll;overflow-y:hidden">
            <table id="moreSystemNoticeTablelist">

            </table>
        </div>
    </div>
</div>
<!-- 通知详情Modal -->
<div id="systemNoticeDetails_Modal" style="display:none;overflow:hidden">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tbody id="systemNoticeDetailsTablelist">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--右下角弹窗  -->
<div id="noticeDialog" class="easyui-dialog" title="公告" data-options="iconCls:'icon-tip',closed:true,resizable:true">
    <table id="noticeTable"></table>
</div>

<script type="text/javascript">

    var x_serviceName = new Array();
    var x_current_month_reward = new Array();
    var x_last_month_reward = new Array();
    var x_chain_increase = new Array();
    var x_proportion = new Array();
    var myDate = new Date();
    //获取当前年
    var year = myDate.getFullYear();
    //获取当前月
    var month = myDate.getMonth()+1;




    $(function(){
        /**/
        showOperateData();
        $.getJSON("{{projcfg.appurl}}/api/project/operation/colonymanage/status",{},function(result){
            console.log(result);
            if(result.success){
                var data = result.data;
                showCpuChart(data.cpuTotal,data.cpuUsed);
                showMemoryChart(data.memTotal,data.memUsed);
                showDiskChart(data.diskTotal,data.diskUsed);
            }else{
                msgError(data.msg);
            }
        });

    });




    //显示加载私有镜像
    function showImageDatas(){
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/imagewarehouse/develop/im/pageList',
            type: 'get',
            data:{"page":1,"rows":8},
            success: function (data) {
                var html_div='<ul class="depot-ul">';
                var rows=data.rows;
                $("#imageData").empty();
                if(data.total > 0 ) {
                    for(var i=0;i<rows.length;i++){
                        var imageclass = '';
                        if(rows[i].imagetype){
                            imageclass = 'select';
                        }
                    html_div+='<li><div class="depot-list">' +
                            '<div class="depot-top"><div class="img">'+
                            '<img src="data:'+rows[i].pictureType+';base64 ,'+rows[i].picture+'"'+'alt="" style="width: 50px;height: 50px;"></div>'+
                            '<div class="depot-title"><h1>'+rows[i].imageName+'</h1>'+
                            '<h2>'+rows[i].channels+'</h2></div></div>'+
                            '<div class="depot-content">'+rows[i].simpleIntroduction+'</div>'+
                            '<div class="image-type">'+rows[i].catagory+'</div>'+
                            '<div class="depot-bottom"><i class="download" style=\' cursor: pointer;\' onclick="">'+rows[i].downloadNumber+'</i>'+
                            '<i id=\'souc'+i+'\' class=\'collect '+imageclass+'\' style=\' cursor: pointer;\' onclick=\'do_collect('+rows[i].imageCode+','+i+')\'>'+rows[i].collectionNumber+'</i></div></div></li>';
                    }
                    html_div += '</ul>';
                    $("#imageData").append(html_div);
                }
                else {
                    msgError('该类别无镜像数据');
                }
            }
        });
    }
    /**
     * 记录收藏数
     * @param id
     * @param i
     */

    function showOperateData(){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
            method:'get',
            data:{"rows":150,'page':1},
            success:function(data){
                console.info(data.rows);
                var html;
                if(data.rows.length != 0){
                    for (var i=0;i<data.rows.length;i++){
                        var icons,status,type,src,mesosId,divclass,iproperty='';
                        if(data.rows[i].healthStatus=='1' && data.rows[i].alertNum == 0){
                            icons='class="sale-icon"';
                            divclass = 'sale';
                            status="正常"
                        }else if(data.rows[i].healthStatus=='1' && data.rows[i].alertNum > 0){
                            icons='class="warning-icon"';
                            divclass = 'warning';
                            status="告警/"+data.rows[i].alertNum+'次';
                            iproperty = 'style="cursor:pointer;" onclick="to_warning('+"'"+data.rows[i].projectCode+"'"+')" title="查看告警信息"';
                        }else if(data.rows[i].healthStatus=='0'){
                            icons='class="serious-icon"';
                            divclass = 'serious';
                            status="严重/"+data.rows[i].alertNum+'次';
                            iproperty = 'style="cursor:pointer;" onclick="to_warning('+"'"+data.rows[i].projectCode+"'"+')" title="查看严重告警信息"';
                        }
                        if(data.rows[i].type=='1'){
                            type="自主研发"
                        } else{
                            type="第三方应用"
                        }
                        mesosId = data.rows[i].mesosId;
                        console.info(mesosId);
                        mesosId=mesosId.substring(1);
                        src="http://192.168.9.48:3000/dashboard/db/ying-yong-guan-li?orgId=1&var-app_name="+mesosId;
                        console.log("src   :   "+src);
                        html='<li><div id="maintain'+i+'"  class="maintain-list '+divclass+'"><div style="cursor:pointer;" onclick="openPageIntoButton('+"'"+src+"','maintain"+i+"'"+')"><h1>' + data.rows[i].projectName+'</h1><h2>'+data.rows[i].projectCode+'</h2><h3>'+type+'<span>'+data.rows[i].version+'</span></h3></div>'+
                                '<div style="float:left;"><i '+iproperty+'><span  '+icons +'></span><p id="'+data.rows[i].projectCode+'">'+status+'</p></i></div></li></div>';
                        $("#operateData").append(html);
                    }
                    $("#maintain0").append("<div class='select'><em></em><span></span></div>");
                    $("#servicemonitorIframe").attr("src",'http://192.168.9.48:3000/dashboard/db/ying-yong-guan-li?orgId=1&var-app_name=' + data.rows[0].mesosId.substring(1));
                }
            }
        });
    }

    function openPageIntoButton(src,divid){
        $("#"+$('div.select').parent().attr("id")+" div.select").remove();
        $("#"+divid).append("<div class='select'><em></em><span></span></div>");
        $("#servicemonitorIframe").attr("src",src)
    }

    /**
     * 查看告警信息
     * */
    function to_warning(appId){
        window.location.href = "{{projcfg.appurl}}/projectalert?appId="+appId;
    }

    //循环获取告警次数信息
    var interval = setInterval(function(){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
            method:'get',
            data:{"rows":150,'page':1},
            success:function(data){
                console.info(data.rows);
                if(data.rows.length != 0){
                    for (var i=0;i<data.rows.length;i++){
                        var status;
                        if(data.rows[i].healthStatus=='1' && data.rows[i].alertNum > 0){
                            status="告警/"+data.rows[i].alertNum+'次';
                            $("#"+data.rows[i].projectCode).text(status);
                        }else if(data.rows[i].healthStatus=='0'){
                            status="严重/"+data.rows[i].alertNum+'次';
                            $("#"+data.rows[i].projectCode).text(status);
                        }
                    }
                }
//                clearInterval(interval);
            }
        });
    },1000*10);

    function do_collect(id,i){
        var classvalue = $("#souc"+i).attr("class");
        var numvalue = parseInt($("#souc"+i).text());
        var imagetype =0;
        var modifyvalue="collect"
        if(classvalue.indexOf("select") >= 0){
            numvalue = numvalue - 1;
        }else{
            modifyvalue = "collect select";
            numvalue = numvalue + 1;
            imagetype = 1;
        }
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/imagewarehouse/develop/im/collectOrDownload',
            type: 'put',
            data: {'imageCode':id,"collectNum":numvalue,'imagetype':imagetype},
            success: function (data) {
                console.log(data);
                if(data.success) {
                    $("#souc"+i).attr("class",modifyvalue);
                    $("#souc"+i).text(numvalue);
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    /**
     * 项目进度情况
     * */
    function projectProcess(){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/process',
            method:'get',
            success:function(data){
                console.log(data);
                if(data.success){
                    var result = data.data;
                    $("#developNum").text(result[0].developNum);
                    $("#testNum").text(result[0].testNum);
                    $("#deployNum").text(result[0].deployNum);
                    $("#operationNum").text(result[0].operationNum);

                }else{
                    $("#developNum").text(0);
                    $("#testNum").text(0);
                    $("#deployNum").text(0);
                    $("#operationNum").text(0);
                }
            }
        });
    }

    function initChartData() {
        $.ajax({
            url:'{{projcfg.appurl}}/api/remuneration/singlebusiness',
            method:'get',
            data: {
                page: '1',
                rows: '100',
                year:year,
                month:month
            },
            success:function(data){
                if(data.success){
                    var result = data.rows;

                    for(var i =0;i<result.length;i++){
                        x_serviceName[i]=result[i].service;
                        x_current_month_reward[i] = result[i].monthMoney;
                        x_last_month_reward[i] = result[i].lastMonthMoney;
                        x_chain_increase[i] = result[i].monthMoneyChain;

                        var data_ring_chart={};
                        data_ring_chart.value=result[i].monthMoneyHold;
                        data_ring_chart.name=result[i].service;
                        x_proportion.push(data_ring_chart);
                    }

                    showRingChart();
                }else{
                    msgError('提示,'+data.msg + ',错误代码:' + data.code);
                }
            }
        });
    }

    //显示cpu饼图
    function showCpuChart(cpuTotal,cpuUsed){
        var unUsed = cpuTotal - cpuUsed;
        console.log(cpuTotal);
        console.log(cpuUsed);
        var cpuChart = echarts.init(document.getElementById('cpuChart'));
        cpuoption = {
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: '75%',
                    center: ['50%', '55%'],
                    data: [
                        {value:cpuUsed, name:'已使用'},
                        {value:unUsed, name:'未使用'}
                    ]
                }
            ]
        };
        cpuChart.setOption(cpuoption);
        $('#cpudesc').html("共计" + cpuTotal + ",已使用" + cpuUsed);
    }

    //显示Memory饼图
    function showMemoryChart(memTotal,memUsed){
        var unUsed = memTotal - memUsed;
        var memoryChart = echarts.init(document.getElementById('memoryChart'));
        memoryoption = {
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: '75%',
                    center: ['50%', '55%'],
                    data: [
                        {value:memUsed, name:'已使用'},
                        {value:unUsed, name:'未使用'}
                    ]
                }
            ]
        };
        memoryChart.setOption(memoryoption);
        $('#memorydesc').html("共计" + (memTotal / 1024).toFixed(3) + "G,已使用" + (memUsed / 1024).toFixed(3) + "G");
    }

    //显示Disk饼图
    function showDiskChart(diskTotal,diskUsed){
        var unUsed = diskTotal - diskUsed;
        var diskChart = echarts.init(document.getElementById('diskChart'));
        diskoption = {
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: '75%',
                    center: ['50%', '55%'],
                    data: [
                        {value:diskUsed, name:'已使用'},
                        {value:unUsed, name:'未使用'}
                    ]
                }
            ]
        };
        diskChart.setOption(diskoption);
        $('#diskdesc').html("共计" + (diskTotal / 1024).toFixed(3) + "G,已使用" + (diskUsed / 1024).toFixed(3) + "G");
    }

    function showRingChart() {
        var ringChart = echarts.init(document.getElementById('ringChart'));
        ringoption = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} %"
            },
            legend: {
                orient: 'horizontal',//vertical
                x: 'center',
                data: x_serviceName
            },
            calculable: true,
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '55%'],
                    data: x_proportion
                }
            ]
        };

        ringChart.setOption(ringoption);
    }


    function openPage(id,title){
        //获取页面滚动距离
        var scrollTop = window.pageYOffset
                || document.documentElement.scrollTop
                || document.body.scrollTop
                || 0;
        var top = ($(window).height() - 500)/2+scrollTop;
        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 1000,
            height: 500,
            top:top,
            modal: true,
            myButtons:[
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $('#'+id).dialog('close');
                    }
                }
            ]
        });
    }
    //更多公告列表
    function openMoreSystemNoticeList(){
        //初始化grid
        $('#moreSystemNoticeTablelist').datagrid({
            method:'get',
            url: '{{projcfg.appurl}}/admin/api/common/syscfg/notice?notice_status=2',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            fit:true,
            border:false,
            singleSelect:true,
            selectOnCheck:true,
            columns:[[
                {"field": "notice_title","title":"公告标题","width":100},
                {"field": "notice_type","title":"公告类型","width":50,
                    formatter : function(value, rowData, rowIndex) {
                        if(value == 1){
                            return '<span class="label label-danger">重要</span>';
                        }else if(value == 2){
                            return '<span class="label label-azure">限时</span>';
                        }else if(value == 3){
                            return '<span class="label label-warning">通报</span>';
                        }
                    }
                },
                {"field": "notice_issuer","title":"发布人","width":40,
                    formatter : function(value, rowData, rowIndex) {
                        if(value){
                            return value.user_name;
                        }
                    }
                },
                {"field": "notice_auditor","title":"审核人","width":40,
                    formatter : function(value, rowData, rowIndex) {
                        if(value){
                            return value.user_name;
                        }
                    }
                },
                {"field": "notice_status","title":"状态","width":40,
                    formatter : function(value, rowData, rowIndex) {
                        if(value == 1){
                            return '<span class="label label-primary">未审核</span>';
                        }else if(value == 2){
                            return '<span class="label label-success">已发布</span>';
                        }else if(value == 3){
                            return '<span class="label label-danger">作废</span>';
                        }
                    }
                },
                {"field": "notice_date","title":"创建日期","width":100,
                    formatter : function(value, rowData, rowIndex) {
                        return new Date(value).format();
                    }
                },
                {
                    "field": "opt", "title": "详情", "width": 50,
                    "formatter": function (value, rowData, rowIndex) {
                        return '<a href="javascript:openPageDetails()">查看详情</a>';
                    }
                }
            ]],
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError('提示,'+json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('提示,加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });

        openPage('systemNotice_Modal','系统公告');

    }
    function openPageDetails() {
        //获取数据
        var rows = $('#moreSystemNoticeTablelist').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行查看');
            return ;
        }

        systemNoticeDetails(rows[0]._id)
    }
    //系统公告详情
    function systemNoticeDetails(id){

        $.ajax({
            url: '{{projcfg.appurl}}/admin/api/common/syscfg/notice/'+id,
            type: 'get',
            data: {},
            success: function (data) {

                if(data.success) {
                    var html = '';
                    if(data.data!=''&&data.data!=null){
                        var type;
                        var noticeType = data.data[0].notice_type;
                        if(noticeType == 1){
                            type = '<span class="label label-danger">重要</span>';
                        }else if(noticeType == 2){
                            type = '<span class="label label-azure">限时</span>';
                        }else if(noticeType == 3){
                            type = '<span class="label label-warning">通报</span>';
                        }
                        var temp = '<tr>'
                                + '<td align="center">'
                                + data.data[0].notice_title+type
                                +'<br>'
                                + '</td>'
                                +'</tr>'
                                +'<tr>'
                                +'<td>'
                                +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                + data.data[0].notice_content
                                + '</td>'
                                +'</tr>'
                                +'<tr>'
                                +'<td align="right" style="padding-right: 40px;">'
                                +'<br>'
                                +'发布时间：'+new Date(data.data[0].notice_date).format("yyyy-MM-dd hh:mm")
                                + '</td>'
                                +'</tr>';
                        html += temp;

                        openPage('systemNoticeDetails_Modal','系统公告详情');
                    }else {
                        msgError("获取公告详情失败！");
                    }

                    $('#systemNoticeDetailsTablelist').html(html);
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    function initSystemNotice(){
        $.ajax({
            url: '{{projcfg.appurl}}/admin/api/common/syscfg/notice/getNoticesByIndex',
            type: 'get',
            data: {},
            success: function (data) {
                if(data.success) {
                    var html = '';
                    $.each(data.data,function(i,n){
                        var type;
                        if(n.notice_type == 1){
                            type = '<span class="label label-danger">重要</span>';
                        }else if(n.notice_type == 2){
                            type = '<span class="label label-azure">限时</span>';
                        }else if(n.notice_type == 3){
                            type = '<span class="label label-warning">通报</span>';
                        }


                        var temp = '<tr style="cursor:pointer;" onclick="systemNoticeDetails(\''
                                + n._id
                                + '\')">'
                                + '<td>'
                                + (i+1)+"、"+n.notice_title+type
                                + '</td>'
                                + '<td>'
                                + new Date(n.notice_date).format()
                                + '</td>'
                        '</tr>';
                        html += temp;
                    });
                    $('#systemNoticeTablelist').append(html);
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    $(window).scroll(function(){
        var scrollTop = window.pageYOffset
                || document.documentElement.scrollTop
                || document.body.scrollTop
                || 0;
        var topPosition = $(window).height() - 150+scrollTop;
//        $('#noticeDialog').panel('resize',{
//            top:topPosition
//        });
    });


    /**
     * 扩展javaScriptDate类型工具js
     * 实现格式化日期功能
     */
    Date.prototype.format = function(format){
        if(isNaN(this.getMonth())){
            return '';
        }
        if(!format){
            format = 'yyyy-MM-dd';
        }
        var o = {
            //month
            "M+" : this.getMonth() + 1,
            //day
            "d+" : this.getDate(),
            //hour
            "h+" : this.getHours(),
            //minute
            "m+" : this.getMinutes(),
            //second
            "s+" : this.getSeconds(),
            //quarter
            "q+" : Math.floor((this.getMonth() + 3) / 3),
            //millisecond
            "s" : this.getMilliseconds()
        };
        if(/(y+)/.test(format)){
            format = format.replace(RegExp.$1,(this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for(var k in o){
            if(new RegExp("(" + k + ")").test(format)){
                format = format.replace(RegExp.$1,RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };
//    function setheight(){
//        var wp = window.parent;
//
//        if (wp != null)
//        {
//            var ifm = $("#servicemonitorIframe");
//
//            if (ifm != null)
//            {
//                SetIfmHeight();
//            }
//        }
//
//        function SetIfmHeight()
//        {
//            console.log("2222222222222222222222:   "+ document.body.scrollHeight)
//            var height= document.body.scrollHeight; //设置高
//            ifm.attr("height",height);
//            setTimeout('SetIfmHeight()', 1000); 　　　　//每隔一秒调用方法SetIfmHeight()一次，以适应页面的变化
//        }
//
//
//    }
</script>