
<div class="main-wrap" >
    <div class="container-fluid">
        <!-- START EDIT CONTENT -->
        <button type="button"
                onclick="goBack()"
                class="btn btn-default"
                data-original-title="返回" style="margin-left: 1rem;">
            <i class="fa fa-undo">
                返回</i>
        </button>
        <div class="row">
            <div class="col-lg-12 m-t-2">

                <!-- START ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body" style="overflow:hidden">
                                <div class="row m-b-0">
                                    <div class="col-lg-2 col-md-2 col-xs-5 col-sm-4 m-b-0">
                                        <div class="hr-text hr-text-left m-t-0 m-b-0">
                                            <h6 class="text-white"><strong>应用名称</strong></h6>
                                        </div>
                                        <h3 class="f-w-300 m-t-0 hidden-md hidden-sm hidden-xs" id="appname"></h3>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 m-b-1">
                                        <div class="hr-text hr-text-left m-t-0 m-b-0">
                                            <h6 class="text-white"><strong>外网地址</strong></h6>
                                        </div>
                                        <h3 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs" id="wwdz"></h3>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-xs-7 col-sm-8 m-b-1">
                                        <div class="hr-text hr-text-left m-t-0 m-b-0">
                                            <h6 class="text-white"><strong>运行时长</strong></h6>
                                        </div>
                                        <h3 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs" id="rt">

                                        </h3>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 m-b-1">
                                        <div class="hr-text hr-text-left m-t-0 m-b-0">
                                            <h6 class="text-white"><strong>容器总数量</strong></h6>
                                        </div>
                                        <h3 class="f-w-300 m-t-0 hidden-md hidden-sm hidden-xs" id="slnum"></h3>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-8 col-xs-7 m-b-1">
                                        <div class="hr-text hr-text-left m-t-0 m-b-0">
                                            <h6 class="text-white"><strong>状态</strong></h6>
                                        </div>
                                        <h3 class="f-w-300 m-t-0 hidden-md hidden-sm hidden-xs" style="color:#05d165"><i class="fa fa-check-circle"></i>正常</h3>
                                        <!--<h3 class="f-w-300 m-t-0 hidden-md hidden-sm hidden-xs" style="color:#FF9900"><i class="fa fa-exclamation-triangle"></i>告警</h3>-->
                                    </div>
                                </div>
                                <div class="panel panel-default b-a-0">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">服务架构</a></li>
                                            <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">容器监控</a></li>
                                            <li role="presentation" class=""><a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">服务监控</a></li>
                                            <li role="presentation" class=""><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">架构图</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                                <div class="panel panel-default no-bg b-a-2 b-gray-dark">

                                                    <div class="panel-heading">
                                                        <h4 class="m-t-0 m-b-0">服务架构图</h4>
                                                    </div>
                                                    <!-- START Table -->
                                                    <div class="table-responsive">

                                                        <table class="table" id="sertable" style="margin-top: 1rem;">
                                                            <thead>

                                                            <tr>
                                                                <th class="small text-muted text-uppercase" style="width: 20%"><strong>微服务名称</strong>
                                                                </th>
                                                                <th class="small text-muted text-uppercase" style="width: 20%"><strong>运行容器数量</strong>
                                                                </th>
                                                                <th class="small text-muted text-uppercase" style="width: 20%"><strong>最后更新</strong>
                                                                </th>
                                                                <th class="small text-muted text-uppercase" style="width: 20%"><strong>健康状态</strong>
                                                                </th>
                                                                <th class="small text-muted text-uppercase" style="width: 20%"><strong>质量状况</strong>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>


                                                            </tbody>
                                                        </table>
                                                        <!--<div style="text-align:center;">-->

                                                            <!--<img id="architecture_diagram_path" style="vertical-align:middle;" src=""  alt="架构图" />-->


                                                        <!--</div>-->
                                                    </div>
                                                    <!-- END Table -->
                                                </div>
                                                <div class="panel panel-default no-bg b-a-2 b-gray-dark">
                                                    <div class="panel-heading">
                                                        <h4 class="m-t-0 m-b-0">总流量</h4>
                                                    </div>
                                                    <ul class="list-group">
                                                        <li class="list-group-item no-bg">
                                                            <div class="chartist-line-chart-with-area" style="height:300px">
                                                                <iframe id="total_liuliang" src="" width="100%" height="300px"   scrolling="no"  frameborder="0" style="background-color: black"></iframe>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                                <div class="timeline timeline-datetime" id="conts">

                                                </div>
                                                <div class="col-lg-12 m-t-3">
                                                    <div class="panel panel-default b-a-0 bg-gray-dark">
                                                        <div class="panel-heading">流量</div>
                                                        <div class="panel-body">
                                                            <div class="chartist-line-chart-with-area" style="height:300px">
                                                                <iframe  id ="docker_liuliang" src="http://192.168.9.69:3000/dashboard-solo/db/marathonying-yong-liu-liang-jian-kong?refresh=5s&orgId=1&from=1517636639786&to=1517636650198&var-docker=gdgl_10009_192_168_9_61_31107&panelId=2" width="100%" height="200" frameborder="0" style="background-color: black"> </iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--     <div class="col-lg-12  m-t-1">
                                                         <div class="panel panel-default b-a-0 bg-gray-dark">
                                                             <div class="panel-heading">性能</div>
                                                             <div class="panel-body">
                                                                 <div class="chartist-line-chart-with-area" style="height:300px">
                                                                     <iframe src="http://192.168.9.69:3000/dashboard-solo/db/marathonying-yong-liu-liang-jian-kong?refresh=5s&orgId=1&panelId=2&from=1517462815139&to=1517463115139&var-docker=develop-base_develop-base-gatedlaunch_10004_192_168_9_64_31134&theme=dark" width="100%" height="200" frameborder="0" style="background-color: black"></iframe>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>-->
                                                <div class="col-lg-12  m-t-1">
                                                    <div class="panel panel-default b-a-0 bg-gray-dark">
                                                        <div class="panel-heading">资源</div>
                                                        <div class="panel-body">
                                                            <div class="chartist-line-chart-with-area" style="height:800px">
                                                                <div style="width:100%; height:100%; overflow: hidden; margin-top: 20px; "><iframe  id="docker_resource"  onload="changeFrameHeight('docker_resource')" src="" width="100%" height="100%" style="overflow: hidden; border:none;margin-top: -110px;"></iframe></div>

                                                                <!--<iframe id="docker_resource"src="http://192.168.9.69:3000/dashboard-solo/db/marathonying-yong-liu-liang-jian-kong?refresh=5s&orgId=1&panelId=2&from=1517462815139&to=1517463115139&var-docker=develop-base_develop-base-gatedlaunch_10004_192_168_9_64_31134&theme=dark" width="100%" height="800" frameborder="0" style="background-color: black"></iframe>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="small text-muted text-uppercase"><strong>编号</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>服务类型</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>版本</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>实例名称</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>状态</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>资源占用</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>备注</strong></th>
                                                        <th class="small text-muted text-uppercase"><strong>操作</strong></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr onclick="getGranfaData('mysql')" style="cursor: pointer;">
                                                        <td class="v-a-m"><span class="text-white">C355656</span></td>
                                                        <td class="v-a-m"><span class="text-white">mysql</span></td>
                                                        <td class="v-a-m"><span class="text-white">V5.5</span></td>
                                                        <td class="v-a-m">ywcj</td>
                                                        <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle text-danger"></i> <span class="text-white m-r-1">故障</span></td>
                                                        <td class="v-a-m">
                                                            <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                                                            </div>
                                                            <span class="m-t-0">
                                                                    30GB: <span class="text-white">已使用60%</span>
                                                                </span>
                                                        </td>
                                                        <td class="v-a-m"></td>
                                                        <td class="v-a-m">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="日志"><i class="fa fa-book"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr onclick="getGranfaData('mongo')" style="cursor: pointer;">
                                                        <td class="v-a-m"><span class="text-white">C355656</span></td>
                                                        <td class="v-a-m"><span class="text-white">mongodb</span></td>
                                                        <td class="v-a-m"><span class="text-white">V5.5</span></td>
                                                        <td class="v-a-m">ywcj</td>
                                                        <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle text-success"></i> <span class="text-white m-r-1">运行中</span></td>
                                                        <td class="v-a-m">
                                                            <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                                                            </div>
                                                            <span class="m-t-0">
                                                                    30GB: <span class="text-white">已使用40%</span>
                                                                </span>
                                                        </td>
                                                        <td class="v-a-m"></td>
                                                        <td class="v-a-m">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="日志"><i class="fa fa-book"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="col-lg-12 m-t-3">
                                                    <div class="panel panel-default b-a-0 bg-gray-dark" style="height:1000px">
                                                        <div class="panel-heading">数据库监控</div>
                                                        <div class="panel-body" >
                                                            <div class="chartist-line-chart-with-area" style="height:1200px">
                                                                <div style="width:100%; height: 100%; overflow: hidden; margin-top: 20px; "><iframe   id="liuliangser"  src="" width="100%" height="100%" style="overflow: hidden; border:none;margin-top: -110px;"></iframe></div>

                                                                <!--<iframe id="liuliangser" src="http://192.168.9.69:3000/dashboard/db/service-mysql-metrics?refresh=5s&orgId=1" width="100%" height="100%" frameborder="0"scrolling ="auto"   vspace="-170"style="background-color: black"></iframe>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
                                                <div style="text-align:center;">

                                                    <img id="architecture_diagram_path" style="vertical-align:middle;" src=""  alt="架构图" />


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END ROW -->

            </div>
        </div>
        <!-- END EDIT CONTENT -->

    </div>

</div>


<script>
    $(function(){
        var appid = getQueryString('appid');
        if(!appid){
            appid = 1;
        }
        getAppdetail(appid);

        getMicroService(appid);
        setInterval(function(){
          getMicroService(appid);
            getAppdetail1(appid);
        },5000)


    });

    //获取容器监控数据
    function getAppdetail(appid){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appdetail/query',
            type:'get',
            data: {'appid':appid},
            success:function(data){
                console.log(data);
                if(data.success){
                    /* $("ul li[id]").remove();*/
                    console.log(data.data);

                    console.log("数据加载成功，请封装div",data.data);
                    var qua = data.data[0];
                    $("#appname").html(qua.app_name);
                    //计算运行时长
                    var update=new Date(qua.update_time).getTime();
                    var now=new Date().getTime();

                    $("#rt").html(formatDuring(now - update));
                    $("#wwdz").html('<a href="'+qua.vist_url+'" target="_blank">'+qua.vist_url+'</a>');
                    $("#slnum").html(data.data.length+" 个");

                    var docker_name=data.data[0].ename+"_"+data.data[0].serviceport+"_BACKEND";

                    $("#total_liuliang").attr("src","http://192.168.9.69:3000/dashboard-solo/db/marathonying-yong-liu-liang-jian-kong?refresh=5s&orgId=1&var-docker="+docker_name+"&panelId=2")
                    setLiuLiangData(data.data);
                    //默认显示第一个容器的监控数据
                    getGranfaContainerData(qua.container_id);
                    //数据库监控
                    getGranfaData('mysql');
//                    $("#shic").html(yxsc);
                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }
    //获取容器监控数据
    function getAppdetail1(appid){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appdetail/query',
            type:'get',
            data: {'appid':appid},
            success:function(data){
                console.log(data);
                if(data.success){
                    /* $("ul li[id]").remove();*/
                    console.log(data.data);

                    console.log("数据加载成功，请封装div",data.data);
                    var qua = data.data[0];
                    $("#appname").html(qua.app_name);
                    //计算运行时长
                    var update=new Date(qua.update_time).getTime();
                    var now=new Date().getTime();

                    $("#rt").html(formatDuring(now - update));
                    $("#wwdz").html('<a href="'+qua.vist_url+'" target="_blank">'+qua.vist_url+'</a>');
                    $("#slnum").html(data.data.length+" 个");
                    setLiuLiangData(data.data);

                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }
    function formatDuring(mss) {
        var days = parseInt(mss / (1000 * 60 * 60 * 24));
        var hours = parseInt((mss % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
        return days + " 天 " + hours + " 小时 " + minutes + " 分钟 " ;
    }
    //获取微服务数据
    function getMicroService(appid){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appdetail/microservice',
            type:'get',
            data: {'appid':appid},
            success:function(data){
                console.log(data);
                if(data.success){
                    /* $("ul li[id]").remove();*/
                    console.log(data.data);
                    $("#sertable tbody").empty();
                    var rows = setTableRow(data.data);
                    $("#sertable tbody").append(rows);
                 
                    $("#architecture_diagram_path").attr('src',"{{projcfg.appurl}}/static/image/jiagoutu.png");


                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    //调用服务监控的流量数据
    function getGranfaData(type){
        if(type=='mysql'){
            $("#liuliangser").attr("src","http://192.168.9.69:3000/dashboard/db/service-mysql-metrics?refresh=5s&orgId=1");

        }else if(type=='mongo'){
            $("#liuliangser").attr("src","http://192.168.9.69:3000/dashboard/db/mongodb-monitoring-dashboard?refresh=5s&orgId=1");

        }
    }

    //设置流量监控数据
    function setLiuLiangData(arr){
        $("#conts").empty();
        if(arr.length>0){

            var divstr = '';
            var sername = '';
            for(var i=0;i<arr.length;i++){
                if(sername && sername != arr[i].images_alias){
                    divstr += '</tbody></table></div></div></div>';
                    $("#conts").append(divstr);
                    divstr = '';
                }
                if(sername != arr[i].images_alias){

                    divstr += '<div class="timeline-date"><span class="badge" >微服务名称：'+arr[i].images_alias+'</span></div>' +
                            ' <div class="timeline-item p-r-1"><div class="timeline-icon"><i class="fa fa-circle-o text-info"></i></div>' +
                            ' <div class="timeline-item-inner"><div class="timeline-item-head clearfix"><div class="hr-text hr-text-left m-t-2">' +
                            ' <h6 class="text-white"><strong >版本号：'+arr[i].images_version+'</strong></h6></div><div class="col-lg-2">' +
                            ' <div class="btn-group"><button type="button" id="sub_'+arr[i].service_id+'"class="btn btn-default" aria-label="Left Align" onclick="subductionNum('+arr[i].min_inst_num+','+arr[i].service_id+')"><span class="fa fa-fw fa-minus" aria-hidden="true"></span></button>' +
                            ' <input readonly type="text" id="connum'+arr[i].service_id+'" class="btn btn-default col-lg-4" aria-label="Center Align" placeholder="容器数量" value="'+arr[i].cur_inst_num+'">' +
                            ' <button type="button" id="add_'+arr[i].service_id+'" class="btn btn-default" aria-label="Right Align" onclick="additionNum('+arr[i].max_inst_num+','+arr[i].service_id+','+arr[i].app_id+')"><span class="fa fa-fw fa-plus" aria-hidden="true"></span></button>' +
                            ' </div></div><div class="col-lg-4"><button type="button" class="btn btn-cerulean" onclick="quality('+arr[i].id+')">质量评估</button>' +

                            ' <button type="button" class="btn btn-dodger-blue" onclick="elastic('+arr[i].service_id+')">智能伸缩策略</button><button type="button" class="btn btn-minsk" onclick="gray('+arr[i].app_id+',\''+arr[i].images_name+'\')">蓝绿部署</button></div></div>'+
                            '<div class="timeline-item-content m-t-1"><table id="container_'+arr[i].service_id+'" class="table table-striped"><thead><tr><th class="small text-muted text-uppercase"><strong>容器名称</strong></th>' +
                            '<th class="small text-muted text-uppercase"><strong>运行环境</strong></th>' +
                            ' <th class="small text-muted text-uppercase"><strong>状态</strong></th><th class="small text-muted text-uppercase"><strong>所属镜像</strong></th></tr></thead>' +
                            '  <tbody><tr  style="cursor: pointer;" onclick="getGranfaContainerData('+arr[i].container_id+')" id="container_id_'+arr[i].container_id+'"><td class="v-a-m"><span class="text-white">'+arr[i].container_name+'</span></td><td class="v-a-m"> <span>'+arr[i].host_ip+'</span></td>' +
                            '   <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle '+setContStatusCss(arr[i].constatus)+'"></i> <span class="text-white m-r-1">'+setContStatus(arr[i].constatus)+'</span></td><td class="v-a-m">'+arr[i].images_name+':'+arr[i].images_version+'</td>' +
                            '  </tr>';
                }else{
                    divstr += '<tr onclick="getGranfaContainerData('+arr[i].container_id+')"  style="cursor: pointer;" id="container_id_'+arr[i].container_id+'"><td class="v-a-m"><span class="text-white">'+arr[i].container_name+'</span></td><td class="v-a-m"> <span>'+arr[i].host_ip+'</span></td>' +
                            '   <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle '+setContStatusCss(arr[i].constatus)+'"></i> <span class="text-white m-r-1">'+setContStatus(arr[i].constatus)+'</span></td><td class="v-a-m">'+arr[i].images_name+':'+arr[i].images_version+'</td>' +
                            '    </tr>';
                }
                if( i==arr.length-1){
                    divstr += '</tbody></table></div></div></div>';
                    $("#conts").append(divstr);
                    divstr = '';
                }
                sername = arr[i].images_alias;
            }
        }
    }
    //减少容器实例数
    function subductionNum(min_inst_num,service_id){
        var num = $("#connum"+service_id).val();
        if(num == min_inst_num){
            msgError("容器已达到设置最少数量，不可再减少。");
        }else{
            //禁用'-'按钮
            $("#sub_"+service_id).attr("disabled",true);
            $.ajax({
                url:'{{projcfg.appurl}}/api/project/ability/appdetail/delContainer',
                type:'get',
                data: {'service_id':service_id},
                success:function(data){
                    console.log(data);
                    //注:因为每次操作都是调用外部应用进行操作，所以数据都是全新的，这里做重新显示
                    if(data.success){
                        $("#container_"+service_id).empty();
                        //启用按钮
                        $("#sub_"+service_id).attr("disabled",false);
                        var arr=data.data;
                        var html="";
                        for(var i=0;i<arr.length;i++){
                            html += '<tr  onclick="getGranfaContainerData('+arr[i].container_id+')"  style="cursor: pointer;"id="container_id_'+arr[i].container_id+'"><td class="v-a-m"><span class="text-white">'+arr[i].container_name+'</span></td><td class="v-a-m"><span class="text-white">'+arr[i].images_alias+'</span></td><td class="v-a-m"> <span>'+arr[i].host_ip+'</span></td>' +
                                    '   <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle '+setContStatusCss(arr[i].constatus)+'"></i> <span class="text-white m-r-1">'+setContStatus(arr[i].constatus)+'</span></td><td class="v-a-m">'+arr[i].images_name+':'+arr[i].images_version+'</td>' +
                                    '    </tr>';
                        }
                        $("#container_"+service_id).append(html);
                        $("#connum"+service_id).val(arr.length);
                    }else{
                        msgError(data.msg+',错误代码:'+data.code);
                    }
                }
            });

        }
    }
    //新增容器实例数
    function additionNum(max_inst_num,service_id,app_id){
        var num = $("#connum"+service_id).val();

        if(num == max_inst_num){
            msgError("容器已达到设置最大数量，不可再增加。");
        }else{
            $("#add_"+service_id).attr("disabled",true);
            $.ajax({
                url:'{{projcfg.appurl}}/api/project/ability/appdetail/addContainer',
                type:'get',
                data: {'service_id':service_id,'app_id':app_id},
                success:function(data){
                    console.log(data);
                    //注:因为每次操作都是调用外部应用进行操作，所以数据都是全新的，这里做重新显示
                    if(data.success){
                        //启用按钮
                        $("#add_"+service_id).attr("disabled",false);
                        $("#container_"+service_id).empty();
                        //启用按钮
                        $("#sub_"+service_id).attr("disabled",false);
                        var arr=data.data;
                        var html="";
                        for(var i=0;i<arr.length;i++){
                            html += '<tr  onclick="getGranfaContainerData('+arr[i].container_id+')"  style="cursor: pointer;"id="container_id_'+arr[i].container_id+'"><td class="v-a-m"><span class="text-white">'+arr[i].container_name+'</span></td><td class="v-a-m"><span class="text-white">'+arr[i].images_alias+'</span></td><td class="v-a-m"> <span>'+arr[i].host_ip+'</span></td>' +
                                    '   <td class="v-a-m"><i class="m-l-0 fa fa-fw fa-circle '+setContStatusCss(arr[i].constatus)+'"></i> <span class="text-white m-r-1">'+setContStatus(arr[i].constatus)+'</span></td><td class="v-a-m">'+arr[i].images_name+':'+arr[i].images_version+'</td>' +
                                    '    </tr>';
                        }
                        $("#container_"+service_id).append(html);
                        $("#connum"+service_id).val(arr.length);
                    }else{
                        msgError(data.msg+',错误代码:'+data.code);
                    }
                }
            });

        }

    }
    //设置容器状态
    function setContStatus(v){
        if(v=="1"){
            return '运行中';
        }else{
            return '故障';
        }
    }
    //设置容器状态样式
    function setContStatusCss(v){
        if(v=="1"){
            return 'text-success';
        }else{
            return 'text-danger';
        }
    }
    //跳转质量状况
    function quality(microserviceid){
        var microserviceId=microserviceid;
        if(microserviceId){

            location.href = "{{projcfg.appurl}}/quality?microserviceid="+microserviceId;
        }else{
            location.href = "{{projcfg.appurl}}/quality";
        }
    }
    function elastic(microserviceid){
        var microserviceId=microserviceid;
        if(microserviceId){
            location.href = "{{projcfg.appurl}}/elasticExpansion?microServiceId="+microserviceId;
        }else{
            location.href = "{{projcfg.appurl}}/elasticExpansion";
        }
    }
    //设置流量监控表格行
    function setTableRow(arr){
        var rowstr = '';
        if(arr.length>0){
            for(var i=0;i<arr.length;i++){
                rowstr += '<tr><td class="v-a-m"><div class="media m-l-1"><div class="media-left media-top"><i class="fa fa-3x fa-sitemap text-aquamarine"></i></div>'+
                        '<div class="media-body"><h2 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">'+arr[i].images_alias+'</h2><p class="m-t-0">'+arr[i].images_version+'</p>' +
                        ' </div></div></td><td class="v-a-m"><h1 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">'+arr[i].cont_num+'</h1></td><td class="v-a-m">' +
                        '<h1 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">'+setDay(arr[i].update_time)+'</h1></td>' +
                        '<td class="v-a-m"><div class="media"><div class="media-left media-middle"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x '+setHealthStatusCss(arr[i].health_status)+'"></i> <i class="fa fa-bell fa-stack-1x fa-inverse"></i></span> </div>' +
                        '<div class="media-body"><h1 class="f-w-300 m-t-0 m-b-0 '+setHealthStatusCss(arr[i].health_status)+'">'+setHealthStatus(arr[i].health_status)+'</h1></div></div></td><td class="v-a-m"> <div class="media"> <div class="media-left media-middle"> <span class="fa-stack fa-lg"> ' +
                        '<i class="fa fa-square fa-stack-2x '+setQualityStatusCss(arr[i].quality_condition)+'"></i> <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i> </span> </div>' +
                        '<div class="media-body"> <h1 class="f-w-300 m-t-0 m-b-0 '+setQualityStatusCss(arr[i].quality_condition)+'">'+setQualityStatus(arr[i].quality_condition)+'</h1> </div> </div> </td> </tr>';
            }
        }
        return rowstr;
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    //更新日期
    function setDay(deploytime){
        var date1 = new Date(deploytime);
        var date2 = new Date();
        var total = (date2.getTime()-date1.getTime())/1000;
        var day = parseInt(total / (24*60*60));//计算整数天数
        var afterDay = total - day*24*60*60;//取得算出天数后剩余的秒数
        var hour = parseInt(afterDay/(60*60));//计算整数小时数
//        var afterHour = total - day*24*60*60 - hour*60*60;//取得算出小时数后剩余的秒数
//        var min = parseInt(afterHour/60);//计算整数分
//        var afterMin = total - day*24*60*60 - hour*60*60 - min*60;//取得算出分后剩余的秒数
        return day+'天前';
    }
    //设置健康状态
    function setHealthStatus(v){
        if(v == "1"){
            return '威胁';
        }else{
            return '正常';
        }
    }
    //设置健康状态样式
    function setHealthStatusCss(v){
        if(v == "1"){
            return 'text-danger';
        }else{
            return 'text-success';
        }
    }
    //设置质量状态
    function setQualityStatusCss(v){
        if(v == "1"){
            return 'text-amazon';
        }else{
            return 'text-success';
        }
    }
    //设置质量状态
    function setQualityStatus(v){
        if(v == "1"){
            return '可优化';
        }else{
            return '正常';
        }
    }

    function gray(appId,images_name){
        window.location.href="{{projcfg.appurl}}/grayenvironmentm?appId="+appId+"&images_name="+images_name;
    }

    //获取容器监控
    function getGranfaContainerData(container_id){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appdetail/queryContainer',
            type:'get',
            data: {'container_id':container_id},
            success:function(data){
                console.log(data);
                //注:因为每次操作都是调用外部应用进行操作，所以数据都是全新的，这里做重新显示
                if(data.success){

                    var docker_name=data.data[0].ename+"_"+data.data[0].serviceport+"_"+data.data[0].host_ip.replace((/\./g,'_'))+"_"+data.data[0].container_port;
                    //流量
                    $("#docker_liuliang").attr("src","http://192.168.9.69:3000/dashboard-solo/db/marathonying-yong-liu-liang-jian-kong?refresh=5s&orgId=1&var-docker="+docker_name+"&panelId=2");
                    //资源
                    var host_name=data.data[0].hostname+"_"+data.data[0].host_ip;
                    var container_name=data.data[0].container_name;
                    window.setTimeout(function(){
                        $("#docker_resource").attr("src","http://192.168.9.69:3000/dashboard/db/dockerdan-ge-rong-qi-jian-kong?orgId=1&var-host="+host_name+"&var-container_name="+container_name);
                    },300);

                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }
    function goBack(){
        window.history.go(-1);
    }

</script>