
    <link rel="stylesheet" href="{{projcfg.appurl}}/static/css/style1.css">
    <link rel="stylesheet" href="{{projcfg.appurl}}/static/css/index.css">
    <link rel="stylesheet" href="{{projcfg.appurl}}/static/css/layui.css" type="text/css"/>
    <script src="{{projcfg.appurl}}/static/css/layui.all.js"></script>
    <script src="{{projcfg.appurl}}/static/css/index.js"></script>
    <style type="text/css">
        .clear{
            clear: both;
        }
    </style>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-body">

<section class="hotApplication wrap-1200">
    <div style="float: left" class="list-top">
        <h2>敏捷开发必备软件</h2>
    </div>
    <div style="float: right">
        <button class="btn btn-default">更多&gt</button>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
    <ul id="imageul" class="soft-box clear">
        <li>
            <div style="background-color: #2dc3e8;text-align: center;height: 200px">
            <img src="{{projcfg.appurl}}/static/css/AppMarket2_icon_software.png" style="margin-top: 20px"><br/>
            <h1 style="color: #ffffff">系统应用</h1><br/>
            <h1 style="color: #ffffff">系统应用能帮你快速实现相应需求,让开发变得更加简单</h1>
            </div>
            <div style="margin-top: 30px">
                <div>其他系统应用</div>
                <div style="color: #2dc3e8;margin-top: 15px">查看更多</div>
            </div>
        </li>
    </ul>
    <ul id="imageuls" class="soft-box">
        <li>
            <div style="background-color: #2dc3e8;text-align: center;height: 200px">
                <img src="{{projcfg.appurl}}/static/css/AppMarket2_icon_software.png" style="margin-top: 20px"><br/>
                <h1 style="color: #ffffff">web应用</h1><br/>
                <h1 style="color: #ffffff">web应用能帮你快速在本地搭建应用,做到不重复造轮子</h1>
            </div>
            <div style="margin-top: 30px">
                <div>其他web应用</div>
                <div style="color: #2dc3e8;margin-top: 15px">查看更多</div>
            </div>
        </li>
    </ul>
</section>
                </div>
            </div></div></div>
<script>
    function submitBtnClick(imageCode){
        window.location.href="{{projcfg.appurl}}/appmarketdetail?imageCode="+imageCode;
    }
    $(function(){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appmarket/getRecommend',
            type:'get',
            success:function(data){
                if(data.data){
                   /* $("ul li[id]").remove();*/
                    console.log(data.path);
                    console.log("数据加载成功，请封装div",data.data);
                    var liindex = 0;
                    for(var i=0;i<data.data.length;i++){
                        var desc = '';
                        if(data.data[i].simpleIntroduction){
                            desc = data.data[i].simpleIntroduction.length>30?data.data[i].simpleIntroduction.substr(0,29)+"...":data.data[i].simpleIntroduction;
                            var html = '<li id = "'+liindex+'" style="text-align: center">';
                            html += '<h1>'+data.data[i].imageName+'</h1><br/>';
                            html += '<h1>'+data.data[i].channels+'</h1>';
                            html += '<div style=""><p>'+desc+'</p></div>';
                            var p = 'data:'+data.data[i].pictureType+';base64 ,'+data.data[i].picture;
                            html += '<img src="'+p+'" alt="" style="margin-top: 20px;width: 61px;height: 63px">';
                            html += '<form action="/image/detail?id='+data.data[i].id+'" method="post" id="formId'+data.data[i].id+'"><a href="javascript:void(0);" onclick="submitBtnClick('+data.data[i].imageCode+')">查看详情</a></form>';

                            html += '</li>';
                            liindex++;
                            $("#imageul").append(html);
                        }

                    }
                }
            }
        });
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/ability/appmarket/getHot',
            type:'get',
            success:function(data) {
                if (data.data) {
                    console.log(data.path);
                    console.log("数据加载成功，请封装div", data.data);
                    var liindex = 0;
                    for (var i = 0; i < data.data.length; i++) {
                        var desc = '';
                        if (data.data[i].simpleIntroduction) {
                            desc = data.data[i].simpleIntroduction.length > 30 ? data.data[i].simpleIntroduction.substr(0, 29) + "..." : data.data[i].simpleIntroduction;
                            var html = '<li id = "' + liindex + '" style="text-align: center">';
                            html += '<h1>' + data.data[i].imageName + '</h1><br/>';
                            html += '<h1>' + data.data[i].channels + '</h1>';
                            html += '<div style=""><p>' + desc + '</p></div>';
                            var p = 'data:' + data.data[i].pictureType + ';base64 ,' + data.data[i].picture;
                            html += '<img src="' + p + '" alt="" style="margin-top: 20px;width: 61px;height: 63px">';
                            html += '<form action="/image/detail?id=' + data.data[i].id + '" method="post" id="formId' + data.data[i].id + '"><a href="javascript:void(0);" onclick="submitBtnClick(' + data.data[i].imageCode+ ')">查看详情</a></form>';

                            html += '</li>';
                            liindex++;
                            $("#imageuls").append(html);
                        }

                    }
                }
            }
        });

    })
</script>