<!--<script src="{{projcfg.appurl}}/static/js/containerlistingdata.js" type="text/javascript"></script>-->
<style>
    .div-bor{
        position: relative;width: 100%;height: 35px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;
    }
    .icon-serach{
        position: absolute;left: 0;z-index:5;
        background-image: url('{{projcfg.appurl}}/static/images/search.png'); /*引入图片图片*/
        background-repeat: no-repeat; /*设置图片不重复*/
        background-position: 1px 0px; /*图片显示的位置*/
        width: 20px; /*设置图片显示的宽*/
        height: 20px; /*图片显示的高*/
        top: 5px;
        left: 3px;
        cursor:pointer;
    }
    .serach{
        padding-left: 22px;
    }
    input[type=radio] {
        opacity: 1;
        position: relative;
        left: 2px;
        z-index: 12;
        width: 13px;
        height: 13px;
        cursor: pointer;
        margin: 1rem;
    }

</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="toolbar" class="row tbRow" style="margin-bottom: 1.1rem;border-bottom: 1px solid #ccc;">
                    <div class="col-xs-6 col-md-6" style="width:100%">
                        <font size="3.5rem" style="margin-left: 1.2rem;margin-right: 2.5rem"> <b>镜像管理</b></font>
                        <div class="btn-group" role="group" aria-label="...">
                          <!--  <button type="button" class="btn btn-default" onclick="openPage('addimage','新增镜像','',doAddAndModify)" data-title="新增镜像">
                                <i class="fa fa-edit"></i> 新增镜像
                            </button>-->
                            <button type="button" class="btn btn-default" onclick="modifyPage('addimage','修改镜像','',doAddAndModify)" data-title="修改镜像">
                                <i class="fa fa-edit"></i> 修改镜像
                            </button>
                          <!--  <button type="button" class="btn btn-default" onclick="doDelete()" data-title="删除镜像">
                                <i class="fa fa-edit"></i> 删除镜像
                            </button>-->
                        </div>

                    </div>
                </div>
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div id="images" data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="datagridPanel" style="width:100%;height: 100%;">
                            <table id="myImageDataTable">
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div>

</div>

<div id="addimage" class="mydialog"  data-options="iconCls:'icon-save'">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="imageForm" class="form-horizontal form-bordered" role="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="imageName" class="col-sm-2 control-label no-padding-right">镜像名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="imageName" id="imageName" placeholder="请输入镜像名称" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iamgeResource"  class="col-sm-2 control-label no-padding-right">镜像源:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="imageResource" id="imageResource">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="channels" class="col-sm-2 control-label no-padding-right">渠道:</label>
                        <div class="col-sm-9">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="channels" id="channels" placeholder="请输入渠道" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="catagory" class="col-sm-2 control-label no-padding-right">镜像类型:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="catagory" id="catagory" placeholder="请输入镜像类型" style="width:60%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label no-padding-right">图片上传:</label>
                        <div class="col-sm-10">
                            <input  type="text" id="picture" name="picture"  style="width:260px;height:25px;" >

                        </div>

                    </div>
                    <div id="showimg" class="form-group" hidden="true">

                    </div>

                    <div class="form-group" >
                        <label for="simpleIntroduction" class="col-sm-2 control-label no-padding-right">简介:</label>
                        <div class="col-sm-10" >
                            <textarea  name="simpleIntroduction" id="simpleIntroduction" style="width:500px;height:300px;"></textarea>
                        </div>
                    </div>
                    <input class="easyui-validatebox form-control" type="hidden" name="imageCode" id="imageCode">
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="{{projcfg.appurl}}/static/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" cahrset="utf-8" src="{{projcfg.appurl}}/static/js/ueditor/ueditor.all.js"></script>
<script  type="text/javascript">
    $(function(){
        var ue=UE.getEditor('simpleIntroduction')
    });

    $(function(){
        $('#myImageDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/ability/imagemanage/develop/im/pageList',
            method:'get',
            rownumbers:false,
            striped:true,
            fitColumns:true,
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field": "imageCode", checkbox:true},
                {"field": "imageName","title":" 镜像名称","width":80,align:"center"},
                {"field": "channels","title":"渠道","width":100,align:"center"},
                {"field": "picture","title":"图片","width":100,align:"center","formatter":function(value,rowDate,rowIndex){
                    return '<img src="data:'+rowDate.pictureType+";base64 ,"+rowDate.picture.toString()+'"  style="height:35px;width:35px">';
                }},
                {"field":"imageVersion","title":"版本","width":100,align:"center"},
                {"field": "simpleIntroduction","title":"简介","width":150,align:"center"},
                {"field": "catagory","title":"类型","width":50,align:"center"},
                {"field": "collectionNumber","title":"收藏数","width":50,align:"center"},
                {"field": "downloadNumber","title":"下载数","width":50,align:"center"},
                {"field":"createDate","title":"创建时间","width":80,align:"center"},
                {"field": "imageResource","title":"镜像源","width":100,align:"center",hidden:'true'}
            ]],
            onLoadSuccess:function(json) {

            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });

    });


    function openPage(id,title, value, callback) {
        $('#'+id).show();
        $("#picture").filebox({
            buttonText:'选择图片',
            buttonAlign:'left',
            accept:'image/*',
            multiple:'false'
        });
        $('#'+id).mydialog({
            title:title,
            width: 650,
            height: 700,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(id);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog(id);
                    }
                }
            ]
        });
    }
    function modifyPage(id,title,value,callback){
        var rows = $('#myImageDataTable').datagrid('getChecked');
        if(rows.length!=1){
            msgError("提示，请选择一条数据再进行修改");
            return false;
        }
        var imageCode=rows[0].imageCode;
        $('#addimage').form("clear");
        var modal=$('#addimage');
        $("#showimg").show().html('<label for="picture" class="col-sm-2 control-label no-padding-right">原图:</label><div class="col-sm-10"><img src="data:'+rows[0].pictureType+";base64 ,"+rows[0].picture.toString()+'"  style="height:35px;width:35px"></div>');
        delete rows[0].picture;
        delete rows[0].pictureName;
        delete rows[0].pictureType;

        console.info(rows[0]);
        console.log(typeof rows[0]);
        var ue1=UE.getEditor('simpleIntroduction');
        ue1.setContent(rows[0].simpleIntroduction);
        modal.form('load',rows[0]);
        $("#picture").filebox({
            buttonText:'选择图片',
            buttonAlign:'left',
            accept:'image/*',
            multiple:'false'
        });

        openPage('addimage',title,'',callback);
    }


    function doSearch() {
        $('#myImageDataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }
    //修改和新增共同使用一个接口 区分判断条件 通过imageCode是否存在来判断
    function doAddAndModify(id) {
        $('#imageForm').form("submit",{
            url: '{{projcfg.appurl}}/api/project/ability/imagemanage/develop/im/add',
            onSubmit:function(){
                var validate = $(this).form('validate');
                if(!validate) {
                    return false;
                }
            },
            success:function(data){
                data = JSON.parse(data)
                if(data.success){
                    msgSuccess(data.msg);
                    $('#myImageDataTable').datagrid("reload");
                    closeDialog(id);
                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });

    }

    // 打开页面


    // 清空新增表单数据
    function clear() {
        $('#addimage').form('clear');
    }

    // 关闭窗口
    function closeDialog(id) {
        $('#'+id).dialog('close');
        clear();
    }
    // 获得选择行
    function doDelete(){
        var rows = $('#myImageDataTable').datagrid('getChecked');
        if (rows.length != 1) {
            bootbox.alert('提示,请选择一条数据再进行删除', function(result){
            });
            return false;
        }
        console.info(rows);
        bootbox.confirm('确定删除此条记录？',function (result){
            if(result){
                // 获取远程数据
                $.ajax({
                    url: '{{projcfg.appurl}}/api/project/ability/imagemanage/develop/im/'+ rows[0].imageCode,
                    type: 'delete',

                    success: function (data) {
                        if(data.success) {
                            msgSuccess(data.msg);
                            $('#myImageDataTable').datagrid('reload');
                        }
                        else {
                            msgError(data.msg+',错误代码:'+data.code);
                        }
                    }
                });
            }
        });
    }


</script>