<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="systemInformation_toolbar" class="row tbRow">
                    <div class="col-xs-6 col-md-6">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" onclick="toAdd()">
                                <i class="glyphicon glyphicon-plus"></i> 增加
                            </button>
                            <button type="button" class="btn btn-default" onclick="toEdit()">
                                <i class="glyphicon glyphicon-pencil"></i> 修改
                            </button>
                            <button type="button" class="btn btn-default" onclick="toDelete()">
                                <i class="glyphicon glyphicon-cog"></i> 删除
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 text-right">
                        <form class="form-inline">
                            <div class="form-group" style="display: none">
                                <div class="input-group">
                                    <label for="inputSystemInformationIssuer">发布人：</label>
                                    <select class="easyui-combobox" id="inputSystemInformationIssuer" style="width:100px;height:34px;">
                                        <option value="0">--请选择--</option>
                                        <option value="1">系统管理员</option>
                                        <option value="2">超级管理员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="inputSystemInformationTitle">文章标题：</label>
                                    <input id="inputSystemInformationTitle" style="width:200px;height:34px;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="doSearch()">
                                            <i class="glyphicon glyphicon-search"></i> 查询
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:650px;">
                    <div data-options="region:'center',border:false,fit:true" style="overflow-x:hidden;overflow-y:hidden">
                        <table id="systemInformation_datatable">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="systemInformation_Modal" style="display:none;overflow:hidden;padding-top:15px;padding-bottom: 15px;">
    <div class="row">
        <div class="col-md-12">
            <div>
                <!-- 下面的enctype属性-->
                <form enctype="multipart/form-data" class="form-horizontal form-bordered" id="systemInformation_Form" role="form" method="post">
                    <div class="form-group"  >
                        <div class="col-sm-4">
                            <label for="inputInformationTitle" class="col-sm-2 control-label no-padding-right">标题</label>
                            <div class="col-sm-10 " >
                            <input id="inputInformationTitle" style="width:100%;height:31px;" type="text" name="inputInformationTitle" class="easyui-validatebox easyui-textbox form-control" data-options="required:true" placeholder="文章标题不超过16个字符">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputInformationType" class="col-sm-2 control-label no-padding-right">类型 </label>
                            <div class="col-sm-10">
                                <select class="easyui-combobox" id="inputInformationType" style="height: 31px;width:100%;">
                                    <option value="1">项目资料</option>
                                    <option value="2">热门技术</option>
                                    <option value="3">数据库</option>
                                    <option value="4">编程语言</option>
                                    <option value="5">大数据</option>
                                    <option value="6">移动端</option>
                                    <option value="7">开发工具</option>
                                    <option value="8">需求</option>
                                    <option value="9">测试</option>
                                    <option value="10">运维</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputInformationImage" class="col-sm-2 control-label no-padding-right">图片</label>
                            <div class="col-sm-10">
                                <input id="inputInformationImage" style="width:100%;height:31px;" type="text" name="inputInformationImage" placeholder="封面图片">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-sm-4">
                            <!--<label for="Information" class="col-sm-4" style="margin-top: 8px">上传形式</label>-->
                            <label for="Information" class="col-sm-2 no-padding-right" >上传形式</label>
                            <div class="col-sm-10" >
                                <select class="easyui-combobox" id="Information" style="width:100%;height:31px;">
                                    <option value="1">手动编辑</option>
                                    <option value="2">链接分享</option>
                                </select>
                            </div>
                        </div>
                        <div id="inputInformationImageShow" class="col-sm-4" hidden="true">

                        </div>
                        <div class="col-sm-4">
                            <label for="inputInformationBrief" class="col-sm-2 control-label no-padding-right">简介</label>
                            <div class="col-sm-10">
                                <input id="inputInformationBrief" style="width:100%;height:31px;" type="text" name="inputInformationBrief" class="easyui-validatebox easyui-textbox form-control" data-options="required:true" placeholder="请编辑文章简介">
                            </div>
                        </div>
                    </div>
                    <div  id="Info" style="display: none;">
                        <label for="inputInformationLink" class="col-sm-2" style="margin-top: 5px;margin-left: 5px">文章链接</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input id="inputInformationLink" style="width:100%;height:31px;margin-left: 60px;" type="text" name="inputInformationLink" class="easyui-validatebox form-control" placeholder="请输入文章链接">
                        </div>
                    </div>
                    </div>
                    <div  id="edit">
                    <label class="col-sm-2 no-padding-right" style="padding-top: 5px">文章内容</label>
                    <div class="form-group" >
                        <!--<div class="col-sm-2">-->
                    <!--</div>-->
                        <div class="col-sm-12" >
                            <!-- 加载编辑器的容器-->
                            <script id="container" type="text/plain"></script>
                            <!-- 配置文件-->
                            <script type="text/javascript" src="{{projcfg.appurl}}/static/js/ueditor/ueditor.config.js"></script>
                            <!-- 编辑器源码文件-->
                            <script type="text/javascript" src="{{projcfg.appurl}}/static/js/ueditor/ueditor.all.js"></script>
                            <!-- 实例化编辑器-->
                            <script type="text/javascript">
                                var ue = UE.getEditor('container',{
                                    initialFrameWidth : null,
                                    initialFrameHeight: 450
                                });
                            </script>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .form-1{
    margin-left:-15px;
}
</style>

<script >
    function initInformationManage(){

            $('#systemInformation_datatable').datagrid({
                method:'get',
                url: '{{projcfg.appurl}}/api/project/ability/informationManage',
                rownumbers:true,
                striped:true,
                fitColumns:true,
                toolbar: '#systemInformation_toolbar',
                fit:true,
                border:false,
                singleSelect:true,
                selectOnCheck:false,
                columns:[[
                    {"field":'_id',checkbox:true},
                    {"field": "information_title","title":"文章名称","width":80},
                    {"field": "information_picture","title":"图片","width":40,align:"center","formatter":function(value,rowDate,rowIndex){
                        return '<img src="data:'+rowDate.information_type+";base64 ,"+rowDate.information_picture+'"  style="height:35px;width:35px">';
                    }},
                    {"field": "information_issuer","title":"发布人","width":40},
                    {"field": "information_view_count","title":"浏览量","width":40},
                    {"field": "information_type","title":"文章类型","width":40,"formatter":function(value, rowData, rowIndex){
                        if(value==1){
                            return  information_type ="项目资料"; //$('#inputInformationType').val("项目资料");
                        }else if(value==2){
                            return information_type ="热门技术";
                        }else if(value==3){
                            return information_type ="数据库";
                        }else if(value==4){
                            return information_type ="编程语言";
                        }else if(value==5){
                            return information_type ="大数据";
                        }else if(value==6){
                            return information_type ="移动端";
                        }else if(value==7){
                            return information_type ="开发工具";
                        }else if(value==8){
                            return information_type ="需求";
                        }else if(value==9){
                            return information_type ="测试";
                        }else if(value==10){
                            return information_type ="运维";
                        }
                    }},
                    {"field": "information_create_time","title":"创建时间","width":60,
                        formatter : function(value, rowData, rowIndex) {
                            return new Date(value).format();
                        }
                    }
                ]],
                onLoadSuccess:function(data) {
                    if(data.success) {
                        msgSuccess('提示,'+data.msg + ','+'代码:' + data);
                    }
                },
                onLoadError:function() {
                    msgError('提示,加载数据出现时发生错误,请稍候重试...');
                },
                pagination:true,
                loadMsg:'正在加载...'
            });
    };

    $(document).ready(function(){
        initInformationManage();
    });
    function toAdd(){
        clear();
        ue.setContent('');
        openPage("新增文章",null,doAddtest);
    }
    // 打开页面
    function openPage(title, value, callback) {
        $('#systemInformation_Modal').show();
        change();
        $("#inputInformationImage").filebox({
            buttonText:'选择图片',
            buttonAlign:'left',
            accept:'image/*',
            multiple:'false'
        });

        $('#systemInformation_Modal').mydialog({
            title:title,
            width: 850,
            height: 720,
            top:80,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(value);
                        closeDialog();
                    }

                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog();
                    }
                }
            ]
        });
    };

    // 清空表单数据
    function clear() {
        $('#systemInformation_Modal').form('clear');
    }
    // 关闭窗口
    function closeDialog() {
        $('#systemInformation_Modal').dialog('close');
    }
    function doAddtest() {
        var id=$('#systemInformation_Modal');
        bootbox.confirm('确定添加该条数据？',function(result) {
            if(result) {
                $('#systemInformation_Form').form("submit", {
                    url: '{{projcfg.appurl}}/api/project/ability/informationManage',
                    queryParams: {
                        inputInformationType:$('#inputInformationType').combobox('getValue'),
                        information_content: ue.getContent(),
                    },
                    onSubmit: function () {
                        var validate = $(this).form('validate');
                        console.log(validate)
                        if (!validate) {
                            return false;
                        }

                        对需要隐藏的元素单独做验证处理
                        var selected=$('#Information').combobox('getValue');
                        if(selected==1 && ue.getContent()==''){
                            msgError("请输入文章内容");
                            return false;
                        }else if(selected==2 && $('#inputInformationLink').val()==''){
                            msgError("请输入分享的文章链接");
                            return false;
                        }
                        if(!$('#inputInformationType').combobox('getValue')){
                            msgError("请选择文章类型");
                        }

                        if ($('#inputInformationImage').filebox('getValue').trim() == '') {
                            console.log('请选择图片')
                            $('#inputInformationImage').focus()
                            return false;
                        }
                        else
                            console.log('已经选择图片')
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.success) {
                            msgSuccess(data.msg);
                            $('#systemInformation_datatable').datagrid('load', {});
                            closeDialog();
                        } else {
                            msgError(data.msg);
                        }
                    }
                });
            }
        });
    };
    function toEdit(){
        // 获得选择行
        var rows = $('#systemInformation_datatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行修改');
            return;
        }
        var id=rows[0].id;
        openPage("修改文章", rows[0].id, doEdit);
        // 获取远程数据
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/informationManage/'+rows[0].id,
            type: 'get',
            data: {},
            success: function (data) {
                console.log('-------------成功返回-------'+data.rows[0]);
                if(data.success) {
                    //------显示打开的页面数据----
                    $('#inputInformationTitle').val(data.rows[0].information_title);
                    $('#inputInformationType').combobox('setValue',data.rows[0].information_type);
                    $("#inputInformationImageShow").show().html('<label for="inputInformationImageShow" class="col-sm-2 control-label no-padding-right">原图</label><div class="col-sm-4"><img src="data:'+data.rows[0].pictureType+";base64 ,"+data.rows[0].information_picture+'"  style="height:35px;width:35px"></div>');
                    $('#inputInformationBrief') .val(data.rows[0].information_introduce);
                    console.log('========================',data.rows[0].information_link);
                    if(data.rows[0].information_link){
                        $('#Information').combobox('setValue',2);
                        document.getElementById('Info').style.display='block';
                        document.getElementById('edit').style.display='none';
                        $('#inputInformationLink').val(data.rows[0].information_link);
                    }
                    ue.setContent(data.rows[0].information_content);
                }else{
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    };

    function doEdit(value){
//        var edit=ue.getContent();
        var id=$('#systemInformation_Modal');

//        bootbox.confirm('确定添加该条数据？',function(result) {
//            if (result) {
                $('#systemInformation_Form').form("submit", {
                    url: '{{projcfg.appurl}}/api/project/ability/informationManage',
                    queryParams: {
                        information_content: ue.getContent(),
                        value: value,
                        inputInformationType:$('#inputInformationType').combobox('getValue')
                    },
                    onSubmit: function () {
                        var validate = $(this).form('validate');
                        console.log(validate)
                        if (!validate) {
                            return false;
                        }
//                        对需要隐藏的元素单独做验证处理
                        var selected=$('#Information').combobox('getValue');
                        if(selected==1 && ue.getContent()==''){
                            msgError("请输入文章内容");
                            return false;
                        }else if(selected==2 && $('#inputInformationLink').val()==''){
                            msgError("请输入分享的文章链接");
                            return false;
                        }
                        if(!$('#inputInformationType').combobox('getValue')){
                            msgError("请选择文章类型");
                        }

                        if ($('#inputInformationImage').filebox('getValue').trim() == '') {
                            console.log('请选择图片')
                            $('#inputInformationImage').focus()
                            return false;
                        }
                        else
                            console.log('已经选择图片')
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.success) {
                            msgSuccess(data.msg);
                            $('#systemInformation_datatable').datagrid('load', {});
                            closeDialog();
                        } else {
                            msgError(data.msg);
                        }
                    }
                });
//            }
//        });
    }

    //删除数据
    function toDelete(){
        var rows = $('#systemInformation_datatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行删除');
            return;
        }
        bootbox.confirm('确定删除该事项？',function (result){
            if(result){
                $.ajax({
                    url: '{{projcfg.appurl}}/api/project/ability/informationManage/'+rows[0].id,
                    type: 'delete',
                    data: {
                        id:rows[0]._id
                    },
                    success: function (data) {
                        if(data.success) {
                            msgSuccess(data.msg);
                            $('#systemInformation_datatable').datagrid('load',{});
                        }
                        else {
                            msgError(data.msg+',错误代码:'+data.code);
                        }
                    }
                });
            }
        });
    }

    //查询方法
    function doSearch() {
//        var informationIssuer = $('#inputSystemInformationIssuer').combobox('getValue');
        var informationTitle = $('#inputSystemInformationTitle').val();
//        if(informationIssuer == '0'){
//            informationIssuer = '';
//        }
        console.log('=============search=============',informationTitle);
        $('#systemInformation_datatable').datagrid('load',{
//            information_issuer: informationIssuer,
            information_title: informationTitle
        });
    }
    function change(){
        $('#Information').combobox({
            onSelect: function(date){
                var beBaptized=$('#Information').combobox('getValue');
                if(beBaptized!='2'){
                    //1 未受洗 2 已受洗 3 未填
                    console.log('=====================');
                    $('#addBaptizedDate').combobox('disable');
                    $('#addBaptizedChurch').combobox('disable');
                    document.getElementById('Info').style.display='none';
                    document.getElementById('edit').style.display='block';

                }else{
                    $('#addBaptizedDate').combobox('enable');
                    $('#addBaptizedChurch').combobox('enable');
                    document.getElementById('Info').style.display='block';
                    document.getElementById('edit').style.display='none';
                }
            }
        });
    }

</script>