<style>
    body {
        background-color: #f1f2f7;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }

    .left-nav {
        width: 16%;
        background-color: #ccc;
        height: 800px;
        float: left;
    }

    .main {
        width: 100%;
        padding: 1%;

        float: left;
    }

    @media (max-width: 1440px) {
        .main .box {
            width: 24%;
            /*显示四个*/
        }
    }

    @media (min-width: 1441px) {
        .main .box {
            width: 18.9%;
            /*显示6个*/
        }
    }

    .main .box {
        float: left;
        height: 250px;
        background-color: #ffffff;

        margin-left: 1%;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #e9eaf0;
        padding: 15px;
        position: relative;
    }

    .name-box img {
        float: left;
        width: 25%;
    }

    .name-box h3 {
        float: right;
        font-size: 14px;
        font-weight: bold;
        color: #777777;
        width: 70%
    }

    .name-box span {
        width: 70%;
        display: inline-block;
        font-size: 12px;
        color: #bbbbbb;
        float: right;
        text-align: justify;
    }

    .miaoshu {
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
        color: #828282;
        text-align: justify;
        height: 100px;
        overflow: hidden;
    }

    .image-type {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 12px;
        line-height: 20px;
        color: #828282;
        text-align: justify;
        overflow: hidden;
    }

    .box-bottom {
        position: absolute;
        left: 0;
        padding-left: 20px;
        bottom: 10px;
        width: 100%;
    }

    .box-bottom i {
        font-size: 12px;
        text-decoration: none;
        float: right;
        display: inline-block;
        margin-left: 10px;
        margin-right: 25px;
        color: #828282;
    }
</style>

<script src="{{projcfg.appurl}}/static/js/informationBank/jquery.pagination.js" type="text/javascript"></script>
<style>
    .div-bor {
        position: relative;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;
    }

    .icon-serach {
        position: absolute;
        left: 0;
        z-index: 5;
        background-image: url({{projcfg.appurl}}); /*引入图片图片*/
        background-repeat: no-repeat; /*设置图片不重复*/
        background-position: 1px 0px; /*图片显示的位置*/
        width: 20px; /*设置图片显示的宽*/
        height: 20px; /*图片显示的高*/
        top: 5px;
        left: 3px;
        cursor: pointer;
    }

    .serach {
        padding-left: 22px;
    }

    input[type=radio] {
        opacity: 1;
        position: relative;
        left: 2px;
        z-index: 12;
        width: 13px;
        height: 13px;
        cursor: pointer;
        margin: 1rem;
    }

    .depot-bottom {
        overflow: hidden;
        height: 25px;
        position: relative;
        margin-top: 10px;
    }

    .depot-bottom i {
        font-size: 12px;
        display: block;
        float: left;
        width: 60px;
        padding-left: 20px;
        height: 20px;
        color: #bbb;
        font-style: normal;
        position: absolute;
        z-index: 1;
        top: 0;
    }

    .depot-bottom i.collect {
        background: url({{projcfg.appurl}}) no-repeat 0 -395px;
        right: 90px;
    }

    .depot-bottom i.collect.select {
        background: url({{projcfg.appurl}}) no-repeat 0 -424px;
    }

    .depot-bottom i.download {
        background: url({{projcfg.appurl}}) no-repeat 0 -452px;
        right: 0;
    }


    .pagination {
        font-size: 100%;
    }

    .pagination a {
        text-decoration: none;
        border: solid 1px #AAE;
        color: #15B;
    }

    .pagination a, .pagination span {
        display: block;
        float: left;
        padding: 0.2em 0.4em;
        margin-right: 8px;
        margin-bottom: 5px;
        min-width:1em;
        text-align:center;
    }

    .pagination .current {
        background: #2dc3e8;
        color: #fff;
        border: solid 1px #AAE;
    }

    .pagination .current.prev, .pagination .current.next{
        color:#999;
        border-color:#999;
        background:#fff;
    }

    /*ul li {*/
    /*margin-left: 20px;*/
    /*height: 100%;*/
    /*}*/
    /*ul li:hover {*/
    /*background-color: #00a0e9;*/

    /*}*/
</style>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">

                <nav class="" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand">资料文库</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="javascript:void(0);" onclick="getListByType('')">全部</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('1')">项目资料</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('2')">热门技术</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('3')">数据库</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('4')">编程语言</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('5')">大数据</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('6')">移动端</a></li>

                                <li><a href="javascript:void(0);" onclick="getListByType('7')">开发工具</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('8')">需求</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('9')">测试</a></li>
                                <li><a href="javascript:void(0);" onclick="getListByType('10')">运维</a></li>
                            </ul>

                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" id="searchInfo">
                                </div>
                                <button type="button" class="btn btn-default" onclick="getListByTitle()">搜索</button>
                            </form>

                        </div>
                    </div>


                </nav>
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false"
                     style="width: 800px; height:1160px;background-color: #fbfbfb;">
                    <div id="images" data-options="region:'center',border:false"
                         style="overflow-x:hidden;overflow-y:hidden">
                        <div id="datagridPanel" style="width:100%;height: 100%;display:none;">
                            <table id="myImageDataTable">
                            </table>
                        </div>
                        <div id="privatediv" style="width:100%;height: 100%;">

                            <div class="row">
                                <div class="col-xs-8 col-md-8" style="width:100%">
                                    <div class="widget">
                                        <div class="widget-header bordered-bottom bordered-themeprimary">
                                            <i class="widget-icon fa  themeprimary"></i>

                                        </div><!--Widget Header-->


                                    </div>
                                </div>
                            </div>

                            <div class="main" id="informationList"
                                 style="height:80%;padding-left: 40px;padding-right: 40px">

                                <!--<div class="row clearfix" style="border:1px solid rgba(102,102,102,0.3);">-->
                                <!--<div class="col-md-12 column" style="margin-top: 16px;margin-bottom: 16px">-->
                                <!--<h5 style="font-size: 14px;margin-left: 10px;color: rgba(10,10,10,0.5)">-->
                                <!--文章分类：项目介绍-->
                                <!--</h5>-->
                                <!--<h3 style="font-size: 16px;margin-left: 10px;margin-top:10px;font-weight:900;color: rgb(10,10,10)">-->
                                <!--震惊：18岁少女尽然这样。。。-->
                                <!--</h3>-->
                                <!--<div class="media">-->
                                <!--<a href="#" class="pull-left">-->
                                <!--<img src="data:' + itemInfo.information_picture_type + ';base64 ,' + itemInfo.information_picture + '"-->
                                <!--class="media-object" style="width: 120px;height: 120px" alt=""/>-->
                                <!--</a>-->
                                <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">-->
                                <!--<span style="font-size: 14px;color: #0a0a0a">明亚兰-->
                                <!--</span>-->
                                <!--</h4>-->
                                <!--<h5 style="margin-top: 10px">-->
                                <!--DevOps项目是。。。。。。-->
                                <!--</h5>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<h5 style="vertical-align: bottom;margin-left: 100px;margin-bottom: 10px">-->
                                <!--<span style="font-size: 14px;">2017-09-27T03:07:48.000Z-->
                                <!--</span>-->
                                <!--<span style="font-size: 12px;margin-right: 100px" class="pull-right">浏览数：30-->
                                <!--</span>-->
                                <!--</h5>-->
                                <!--</div>-->
                            </div>

                            <div id="Pagination" class="pull-right" style="margin-right: 120px;margin-top: 50px"></div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        getListBySearch('','');
    });


    //类型选择时，先清空input标题和文本搜索框
    function getListByType(typeStr) {
        $("#searchInfo").val("");
        typeSstr=typeStr;
        titleSstr='';
        pagenum=0;
        getListBySearch(typeStr,'');
    }
    function getListByTitle() {
        typeSstr='';
        pagenum=0;
        var titleStr=$("#searchInfo").val();
        titleSstr=titleStr;
        getListBySearch('',titleStr);
    }

    var listcontent;   //全局变量。用来存储文章数据，传递到查看详情的那个函数。
    var pagenum=0;
    var rowsnum =5;
    var typeSstr;
    var titleSstr;

    <!--function getAllCount(cb,typeStr){-->
    <!--$.ajax({-->
    <!--url: '{{projcfg.appurl}}/api/project/ability/informationBank/develop/info/getAllCount',-->
    <!--type: 'get',-->
    <!--data: { "typeStr": typeStr},-->
    <!--success: function (data) {-->
    <!--var  rows = data.rows;-->
    <!--var allrows=rows[0].allCount;-->
    <!--cb(allrows);-->
    <!--console.log("getAllCountData", data);-->
    <!--console.log("allrows", allrows);-->
    <!--}-->
    <!--});-->

    <!--}-->

    function handlePaginationClick(new_page_index, pagination_container) {
        pagenum=new_page_index;
        getListBySearch(typeSstr,titleSstr);
        return false;
    }


    function pagination(allrows){
        $("#Pagination").pagination(allrows, {
            items_per_page:rowsnum, // 每页显示多少条记录
            current_page: pagenum,  //当前页
            num_display_entries:2, // 分页显示的条目数
            next_text:"下一页",
            prev_text:"上一页",
            num_edge_entries:2, // 连接分页主体，显示的条目数
            callback:handlePaginationClick
        });
    }





    //类型查询、标题查询
    function getListBySearch(typeStr,titleStr) {
        var infoName =titleStr;
        var typeStr = typeStr;
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/informationBank/develop/info/pageListSearchByName',
            type: 'get',
            data: {"page": pagenum+1, "rows": rowsnum, "infoName": infoName, "typeStr": typeStr},
            success: function (data) {
                var rows = data.rows;
                allrows=data.total;
                if (data.total > 0) {
                    $('#informationList').empty();
                    console.log("msg", data);
                    listcontent=rows;
                    var html = "";
                    for (var i = 0; i < rows.length; i++) {
                        var itemInfo = rows[i];
                        var value=itemInfo.information_type;
                        if(value==1){
                            itemInfo.information_type ="项目资料";
                        }else if(value==2){
                            itemInfo.information_type ="热门技术";
                        }else if(value==3){
                            itemInfo.information_type ="数据库";
                        }else if(value==4){
                            itemInfo.information_type ="编程语言";
                        }else if(value==5){
                            itemInfo.information_type ="大数据";
                        }else if(value==6){
                            itemInfo.information_type ="移动端";
                        }else if(value==7){
                            itemInfo.information_type ="开发工具";
                        }else if(value==8){
                            itemInfo.information_type ="需求";
                        }else if(value==9){
                            itemInfo.information_type ="测试";
                        }else if(value==10){
                            itemInfo.information_type ="运维";
                        }
                        var item = '<div class="row clearfix" style="border:1px solid rgba(102,102,102,0.3); margin-left: 70px; margin-right: 70px">' +
                                '<div class="col-md-12 column" style="margin-top: 16px;margin-bottom: 16px">' +
                                '<h5 style="font-size: 14px;margin-left: 10px;color: rgba(10,10,10,0.5)">' +
                                '文章分类：' + itemInfo.information_type +
                                '</h5> ' +
                                '<h3 style="font-size: 16px;margin-left: 10px;margin-top:10px;font-weight:900;color: rgb(10,10,10)">' +
                                itemInfo.information_title +
                                '</h3>' +
                                '<div class="media">' +
                                '<a href="#" class="pull-left">' +
                                '<img src="data:' + itemInfo.information_picture_type + ';base64 ,' + itemInfo.information_picture + '"' +
                                'class="media-object" style="width: 78px;height: 78px" alt=""/>' +
                                '</a>' +
                                '<div class="media-body">' +
                                '<h4 class="media-heading">' +
                                '<span style="font-size: 14px;color: #0a0a0a">' + itemInfo.information_issuer +
                                '</span>' +
                                '</h4>' +
                                '<div class="data-content">' +
                                ' <h5 style = "margin-top: 10px"> ' +
                                itemInfo.information_introduce + ' <a href="javascript:void(0);"  onclick="informationPageShow(\'' + i + '\') " >查看详情</a>' +
                                ' </h5>' +
                                '</div>' +
                                '</div>' +
                                ' </div>' +
                                '</div>' +
                                ' <h5 style="vertical-align: bottom;margin-bottom: 10px;margin-right: 40px" class="pull-right">' +
                                '<span style="font-size: 14px;">' + itemInfo.information_create_time.replace(/T/,' ').replace('.000Z','')+ '</span>' +
                                '<span style="font-size: 12px;margin-left: 80px" class="pull-right">' + '浏览数：' + itemInfo.information_view_count +
                                '</span>' +
                                ' </h5>' +
                                '</div>';
                        html += item;
                    }

                    $('#informationList').append(html);
                    pagination(data.total);
                }
                else {
                    msgError('该类别无镜像数据');                }
            }
        });

    }

    //点击查看详情，跳转到informationShow这个页面的ajax，将id作为参数请求到相应路由获取文章详情。
    function informationPageShow(i) {

        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/informationBank/develop/info/addViewCountById',
            type: 'get',
            data: {"id": listcontent[i].id},
            success: function (data) {
                console.log("update",data);
                if ((listcontent[i].information_link != null && listcontent[i].information_link != "") || listcontent[i].information_link != 0) {
                    window.open(listcontent[i].information_link);
                } else {
                    window.location.href = "{{projcfg.appurl}}/informationShow?id=" + listcontent[i].id;
                }
            }
        });

    }





    Date.prototype.format = function(format){
        if(isNaN(this.getMonth())){
            return '';
        }
        if(!format){
            format = 'yyyy-MM-dd hh:mm:ss';
        }
        var o = {
            //month
            "M+" : this.getMonth() + 1,
            //day
            "d+" : this.getDate(),
            //hour
            "h+" : this.getHours(),
            //minute
            "m+" : this.getMinutes(),
            //second
            "s+" : this.getSeconds(),
            //quarter
            "q+" : Math.floor((this.getMonth() + 3) / 3),
            //millisecond
            "s" : this.getMilliseconds()
        };
        if(/(y+)/.test(format)){
            format = format.replace(RegExp.$1,(this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for(var k in o){
            if(new RegExp("(" + k + ")").test(format)){
                format = format.replace(RegExp.$1,RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };

</script>
