<script src="{{projcfg.appurl}}/static/js/containerlistingdata.js" type="text/javascript"></script>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="toolbar" class="row tbRow" style="border-right: 1px solid #ccc;border-bottom:1px solid #ccc;">
                    <div class="col-xs-6 col-md-6" style="width:100%">
                        <font size="3.5rem" style="margin-left: 1.2rem;margin-right: 2.5rem"> <b>服务仓库</b></font>
                        <!--<div class="btn-group" role="group" aria-label="...">-->
                            <!--<button type="button" class="btn btn-default" onclick="doAdd()" data-title="新增">-->
                                <!--<i class="fa fa-plus"></i> 新增-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-default" onclick="toEdit()" data-title="修改">-->
                                <!--<i class="fa fa-edit"></i> 修改-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-default" onclick="toEdit()" data-title="删除">-->
                                <!--<i class="fa fa-edit"></i> 删除-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                    <!--<div class="col-xs-6 col-md-6 text-right">
                        <form id="searchFrom" class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="input" class="form-control" id="filter_name" name="filter_name" placeholder="系统编码/名称">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>-->
                </div>
                <div style="margin-top: 1rem;margin-left: 1.3rem;margin-bottom: 1rem;"><h3><b>数据</b></h3></div>
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:100px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <table id="servcieDataTable">
                        </table>
                    </div>
                </div>
                <div style="margin-top: 1.5rem;margin-left: 1.3rem;margin-bottom: 1rem;"><h3><b>能力</b></h3></div>
                <div id="cc2" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:100px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <table id="servcieAbilityTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="mydialog">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="serviceForm" class="form-horizontal form-bordered" role="form">
                    <input type="hidden" id="serviceId" name="serviceId"/>
                    <input type="hidden" id="projectType" name="projectType"/>
                    <div class="form-group">
                        <label for="inputProjectName" class="col-sm-2 control-label no-padding-right">名称:</label>
                        <div id="serviceName" class="col-sm-10" style="margin-top: 0.5rem;">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">部署集群:</label>
                        <div class="col-sm-10">
                            <select id="colony" style="width: 200px;">
                                <option value="testColony">测试集群</option>
                                <option value="formalColony">生产集群</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">版本:</label>
                        <div class="col-sm-10">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="serVersion" id="serVersion" placeholder="请输入版本号" style="width:60%">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">存储空间:</label>-->
                        <!--<div class="col-sm-10" style="white-space:nowrap;vertical-align:middle;">-->
                            <!--<input type="text" class="easyui-validatebox form-control" data-options="required:true" name="storageSpace" id="storageSpace" placeholder="请输入数字" style="width:40%;float:left;"> <div style="float:left;margin-left: 1rem;margin-top:0.6rem;"><b>GB</b></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="inputGitAddress" class="col-sm-2 control-label no-padding-right">备注:</label>
                        <div class="col-sm-10" style="white-space:nowrap;vertical-align:middle;">
                            <textarea class="form-control" rows="3" name="remark" id="remark" placeholder="请输入备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script  type="text/javascript">
    $(function(){

        $('#servcieDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/ability/services/develop/sm/pageList?type=0',
            method:'get',
            rownumbers:false,
            //autoRowHeight:true,
            striped:true,
            fitColumns:true,
//            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field": "id", checkbox:true},
                {"field": "projectId", hidden:true},
                {"field": "projectType", hidden:true},
//                {"field": "jjj","title":"编号","width":80,align:"center","formatter":function (value, rowData,rowIndex) {
//                    return rowData.service_code;
//                }},
                {"field": "service_name","title":"服务名称","width":150,align:"center"},
                {"field": "ser_version","title":"版本","width":100,align:"center","formatter":function (value, rowData,rowIndex) {
                    return getVerData(rowData.projectId);
                }},
                {"field": "options","title":"操作","width":150,align:"center","formatter":function (value, rowData,rowIndex) {
                    return " <span style='cursor: pointer;' onclick='openPage(\"" + "创建"+rowData.service_name+"\",\""+rowData.service_name+"\",\""+rowData.id+"\",\""+rowData.projectType+"\", doAdd)'>创建</span> | "+
                            "<span style='cursor: pointer;' onclick='to_detail();'>说明</span> ";
                }},
            ]],
            onLoadSuccess:function(json) {

            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });

        $('#servcieAbilityTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/ability/services/develop/sm/pageList?type=1',
            method:'get',
            rownumbers:false,
            //autoRowHeight:true,
            striped:true,
            fitColumns:true,
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field": "id", checkbox:true},
                {"field": "projectId", hidden:true},
//                {"field": "jjj","title":"编号","width":80,align:"center","formatter":function (value, rowData,rowIndex) {
//                    return rowData.service_code;
//                }},
                {"field": "service_name","title":"服务名称","width":150,align:"center"},
                {"field": "ser_version","title":"版本","width":100,align:"center","formatter":function (value, rowData,rowIndex) {
                    return getVerData(rowData.projectId);
                }},
                {"field": "options","title":"操作","width":150,align:"center","formatter":function (value, rowData,rowIndex) {
                    return " <span style='cursor: pointer;' onclick='openPage(\"" + "创建"+rowData.service_name+"\",\""+rowData.service_name+"\",\""+rowData.id+"\",\""+rowData.projectType+"\", doAdd)'>创建</span> | "+
                            "<span style='cursor: pointer;' onclick='to_detail();'>说明</span> ";
                }},
            ]],
            onLoadSuccess:function(json) {

            },
            onLoadError:function() {
                msgError('加载能力数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
//        $('#servcieDataTable').datagrid('loadData',servciesdata);
//        $('#servcieAbilityTable').datagrid('loadData',servciesAbilitydata);
    });

    function getVerData(projectid){
        var value = '';
        if(projectid){
            $.ajax({
                url: '{{projcfg.appurl}}/api/project/dpm/project/develop/pm/verList',
                type: 'get',
                async:false,
                data: {'projectId':projectid},
                success: function (data) {
                    console.log(data);
                    if(data.success) {
                        value = data.data[0].vNo;
                    }
                    else {
                        msgError(data.msg+',错误代码:'+data.code);
                    }
                }
            });
        }
        return value;
    }

    //项目详情
    function to_detail(){
        window.location.href = "{{projcfg.appurl}}/servicedetail";
    }



    function doSearch() {
        $('#servcieDataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }
    function doAdd(value) {
        var validate = $('#serviceForm').form('validate');
        if(!validate) {
            return false;
        }
        $.ajax({
            url: '{{projcfg.appurl}}/api/project/ability/services/develop/sm/update',
            type: 'put',
            data: $('#serviceForm').serializeJson(),
            success: function (data) {
                if(data.success) {
                    msgSuccess(data.msg);
                    closeDialog();
//                    doSearch();
                    window.location.href = "{{projcfg.appurl}}/servicem";
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });

    }
    // 打开页面
    function openPage(title, value,serviceId,projecttype, callback) {
        $("#serviceName").html(value);
        $("#serviceId").val(serviceId);
        $("#projectType").val(projecttype);
        value = '';
        $('#myModal').show();
        $('#myModal').mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'创建',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog();
                    }
                }
            ]
        });
    }

    // 清空新增表单数据
    function clear() {
        $('#serviceForm').form('clear');
    }

    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }


</script>