<style>
    .div_title{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        border: 1px solid rgba(174, 174, 174, 0.54) !important;

    }
    .div_title:hover{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        background: rgba(68, 68, 68, 0.95);
        border: 1px solid rgba(174, 174, 174, 0.54) !important;

    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid rgba(174, 174, 174, 0.54) !important;

    }
</style>
<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">

<div style="margin-top: -20px;margin-left: 30px;margin-right: 30px">
    <div class="row" style="background: rgba(50,50,50,0.95);margin-top: 10px ">

        <div class="col-md-3 div_title" >
            <img src="{{projcfg.appurl}}/static/request/image/200.png" height="50px" width="50px">
            <h3 ><span id="status200"></span></h3>
            <h4 style="color: #1c9127">200</h4>
        </div>
        <div class="col-md-3 div_title">
            <img src="{{projcfg.appurl}}/static/request/image/302.png" height="50px" width="50px">
            <h3 ><span id="status302"></span></h3>
            <h4 style="color: rgba(135,135,135,0.98)">302</h4>
        </div>
        <div class="col-md-3 div_title">
            <img src="{{projcfg.appurl}}/static/request/image/404.png" height="50px" width="50px">
            <h3 ><span id="status404"></span></h3>
            <h4 style="color: #be5158">404</h4>
        </div>
        <div class="col-md-3 div_title">
            <img src="{{projcfg.appurl}}/static/request/image/500.png" height="50px" width="50px">
            <h3 ><span id="status500"></span></h3>
            <h4 style="color: #e37855">500</h4>
        </div>

    </div>



    <!--<div  style="margin-top: 20px;margin-bottom: 10px">-->

    <!--<div class="col-md-3" style="text-align: center;margin-top: 10px">-->
    <!--<span class="col-md-3"><h5>服务名称</h5></span>-->
    <!--<div class="input-group col-md-9">-->
    <!--<input type="text" class="form-control">-->
    <!--<div class="input-group-btn">-->

    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu pull-right">-->
    <!--<li><a href="#">功能</a></li>-->
    <!--<li><a href="#">另一个功能</a></li>-->
    <!--<li><a href="#">其他</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="#">分离的链接</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-3" style="text-align: center;margin-top: 10px">-->
    <!--<span class="col-md-3"><h5></h5></span>-->
    <!--<div class="input-group col-md-9">-->
    <!--<input type="text" class="form-control">-->
    <!--<div class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu pull-right">-->
    <!--<li><a href="#">功能</a></li>-->
    <!--<li><a href="#">另一个功能</a></li>-->
    <!--<li><a href="#">其他</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="#">分离的链接</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="col-md-3" style="text-align: center;margin-top: 10px">-->
    <!--<span class="col-md-3"><h5></h5></span>-->
    <!--<div class="input-group col-md-9">-->
    <!--<input type="text" class="form-control">-->
    <!--<div class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu pull-right">-->
    <!--<li><a href="#">功能</a></li>-->
    <!--<li><a href="#">另一个功能</a></li>-->
    <!--<li><a href="#">其他</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="#">分离的链接</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-3" style="text-align: center;margin-top: 10px">-->
    <!--<span class="col-md-3"><h5></h5></span>-->
    <!--<div class="input-group col-md-9">-->
    <!--<input type="text" class="form-control">-->
    <!--<div class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu pull-right">-->
    <!--<li><a href="#">功能</a></li>-->
    <!--<li><a href="#">另一个功能</a></li>-->
    <!--<li><a href="#">其他</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="#">分离的链接</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <div class="row" style="margin-top: 15px;padding: 0px;margin-bottom: 0px" >

        <div class="form-group col-md-2 col-md-offset-7">
                <select class="form-control" id="searchAppName">
                    <option>全部应用</option>
                    <option>贵州移动慧眼</option>
                    <option>雅典娜项目</option>
                </select>
            </div>


        <div class="form-group col-md-2 " style="padding: 0px">
            <select class="form-control" id="searchPara">
                <option>全部响应状态</option>
                <option>200</option>
                <option>302</option>
                <option>404</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-md-1" style="padding: 0px;margin: 0px">
            <button type="button" style="width: 100%" class="btn btn-default pull-right" onclick="getListByStatus()">Search</button>
        </div>
    </div>

    <div class="row" style="margin-top: 0px">
        <table id="table"  class="table table-bordered" style="color: #FFFFFF;"></table>

    </div>

</div>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>


<script>
    var searchData = window.location.href.split("=");
    var appName = decodeURI(searchData[1]);
    $('#searchAppName').val(appName);



    function getListByStatus() {
        var statusStr=$("#searchPara").val();
        var appNameStr=$("#searchAppName").val();
        var opt = {
            url: "{{projcfg.appurl}}/api/project/request/requestTracking/pageList?statusType="+statusStr+"&appName="+appNameStr,
            silent: true
        }
            $("#table").bootstrapTable('refresh', opt);
        appGroupData();
    }

    var statusStr2=$("#searchPara").val();
    var appNameStr2=$("#searchAppName").val();
    $('#table').bootstrapTable({
        url: '{{projcfg.appurl}}/api/project/request/requestTracking/pageList?statusType='+statusStr2+'&appName='+appNameStr2,                      //请求后台的URL（*）
        method: 'GET',                      //请求方式（*）
        striped: true,         //是否显示行间隔色
        pagination: true,                   //是否显示分页（*）
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    //是否显示刷新按钮
        onClickRow:function (row, $element) {

            window.location.href = "{{projcfg.appurl}}/requestdetail?number="+row.serial_number+"&req_url="+row.url;

        },
        queryParams : function (params) {

            var temp = {
                rows: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                para:$('#searchPara').val()
            };
            return temp;
        },
        columns: [{
            field: 'id',
            title: '编号'
        }, {
            field: 'url',
            title: '请求'
        }, {
            field: 'serial_number',
            title: '请求序列号'
        }, {
            field: 'ip',
            title: '客户端IP'
        }, {
            field: 'browser',
            title: '客户端浏览器'
        }, {
            field: 'req_time',
            title: '请求时间',
            formatter: function (value,row,index) {
                return value.replace(/T/,' ').replace('.000Z','');

            }

        }, {
            field: 'total_time_consuming',
            title: '总耗时'
        },{
            field: 'respond_status',
            title: '返回响应',
            formatter: function(value,row,index) {
                //通过判断单元格的值，来格式化单元格，返回的值即为格式化后包含的元素
                var a = "";
                if(value == "200") {
                    var a = '<span style="color:#00ff00">'+value+'</span>';
                }else if(value == "302"){
                    var a = '<span style="color:rgba(253,253,253,0.62)">'+value+'</span>';
                }else if(value == "404") {
                    var a = '<span style="color:#FF0000">'+value+'</span>';
                }else if(value == "500") {
                    var a = '<span style="color:#e37855">'+value+'</span>';
                }
                return a;
            }
        },{
            field: 'app_name',
            title: '访问应用'
        }],

    });

    $(function () {
        appGroupData();
    });

        function appGroupData() {
            var appGroupName=$("#searchAppName").val();
            // console.log("!@"+appGroupName);
            $.ajax({
                url: "{{projcfg.appurl}}/api/project/request/requestTracking/groupData",
                type: 'get',
                data: {"appname":appGroupName},
                success: function (data) {
                    var rows = data.rows;
                    for(var i=0;i<data.total;i++){
                        // console.log("count"+rows[i].statusCount);
                        if(rows[i].respond_status=='200'){
                            $('#status200').text(rows[i].statusCount);
                        }
                        else if(rows[i].respond_status=='302'){
                            $('#status302').text(rows[i].statusCount);

                        }else if(rows[i].respond_status=='404'){
                            $('#status404').text(rows[i].statusCount);

                        }else if(rows[i].respond_status=='500'){
                            $('#status500').text(rows[i].statusCount);

                        }

                    }
                    if($('#status200').text()==null||$('#status200').text()==''){
                        $('#status200').text(0);
                    }
                    if($('#status302').text()==null||$('#status302').text()==''){
                        $('#status302').text(0);
                    }
                    if($('#status404').text()==null||$('#status404').text()==''){
                        $('#status404').text(0);
                    }
                    if($('#status500').text()==null||$('#status500').text()==''){
                        $('#status500').text(0);
                    }
                }

            });
        }






</script>